.free-call
	&__inner
		display -webkit-flex
		display -ms-flex
		display flex
		padding-top 30px
		padding-bottom 30px
		border-bottom 1px solid $c_grey
		border-top 1px solid $c_grey
	&__left-column,
	&__right-column
		width 50%
	&__right-column
		padding-left 70px
	&__text
		margin-bottom 10px
		font-size 16px
		line-height 20px
		text-transform uppercase
	&__phones-wrapper
		a
			display block
			padding-left 20px
			color $c_black
			font-size 16px
			&:hover
				text-decoration underline
			&:last-of-type
				margin-bottom 10px
		span
			font-size 18px
			font-weight 700
			color $c_light-green
	&__link
		position relative
		display block
		margin 0 auto
		margin-top 25px
		max-width 300px
		padding-top 15px
		padding-bottom 15px
		color $c_white
		background-color $c_light-green
		text-align center
		border-radius 100px
		box-shadow 0 0 5px 0 rgba(0,0,0,.3)
		cursor pointer
		&:after
			position absolute
			top 90%
			left 0
			content '*мы перезвоним через 25 секунд'
			padding-top 8px
			font-size 12px
			color $c_grey-text
		&:hover
			color $c_white
			background-color $c_green-hover
