include /blocks/slider/slider
include /blocks/icon-menu/icon-menu
include /blocks/breadcrumbs/breadcrumbs
include /blocks/side-menu/side-menu
include /blocks/icon/icon
include /blocks/stapel/stapel

mixin main()
	+b.MAIN.page-content
		+e.inner.container
			+slider
			+icon-menu
			+b.breadcrumbs&attributes(attributes)
				+e.inner.container
					+e.UL.list
						+e.LI.item
							+e.A.link.link(href='index.html') Главная
						+e.LI.item
							+e.A.link._active.link Натяжные потолки MSD (Китай)
			+e.main-content-wrapper.container
				+side-menu
				+b.ARTICLE.content
					+e.H1.title.heading._h1 Натяжные потолки MSD (Китай)
					+e.P.text Сегодня из Китая поставляется большое количество недорогого пленочного материала для натяжных потолков. Лидирующая доля объема поставок приходится на пленку ПВХ производителя МSD.
					+e.P.text Завод находится в промышленном парке основавязания городе Хайнин, провинции Чжэцзян.
					h2.heading.heading_h2 Натяжные потолки китайского производителя MSD успешно конкурируют с европейскими аналогами 
					+e.P.text
						img(src='assets/images/msd/zavod_msd.jpg' width='370' height='245' alt='msd' style='float:left; margin-right:15px;')
					+e.P.text Компания основана в 2002 году. Сегодня Zhejiang MSD New Material Co., LTD – это холдинг с развитой системой управления и передовыми технологиями производства, специализирующийся на выпуске пленочного материала различного назначения.
					+e.P.text Технология производства полотен постоянно модернизируется, разрабатываются новые фактуры, текстуры, ширины. Дизайнеры получают неограниченные возможности для реализации своих идей, а клиенты экологичность, пожаробезопасность, надежность и красоту потолочных конструкций с гарантийным сроком эксплуатации более 20 лет.
					+e.P.text Парк оборудования насчитывает 5 производственных линий для прокатки пленки и 9 ламинированных и лакировальных линий.
					+e.P.text Развитие и инновации стоят в основе работы холдинга. Ежегодно ассортиментный ряд продукции пополняется 2-3 новыми видами. Результатом многолетнего труда является 17 запатентованных технологий производства и расширенная торговая сеть по всему миру.
					+e.SECTION.catalog-msd
						header
							h2.heading.heading_h2 Безопасность и качество китайских натяжных потолков MSD
						+e.P.text Холдинг MSD использует систему управления качеством ISO 9001-2000 г. Стандарт ИСО 9001 дает право на выход организации на международную арену и признание ее продукции иностранными потребителями. ISO признан практически всеми странами мира, при этом безусловным лидером в данном направлении является общеевропейский рынок.
							img(src='assets/images/msd/msd_potolok.jpg' width='350' height='245' alt='msd завод' style='float:right; margin-left:5px; margin-top:10px;')
						+e.P.text Продукция настоящей торговой марки успешно импортируется более чем в 40 стран мира с постоянным увеличением объема поставок. В первую очередь это связано с тем, что используя недорогую фабричную пленку, получаем самые дешевые натяжные потолки.
						+e.P.text Пленка МСД не уступает по качеству европейским аналогам. Она производится на современном оборудовании, используя новейшие технологии производства и опыт зарубежных коллег.
						+e.P.text Лаборатории исследования и развития оснащены лучшим контрольно-измерительным оборудованием. Вся продукция тщательно проверяется. Пленка соответствует международным стандартам качества, отвечает всем гигиеническим, пожарным и санитарным нормам.
						+e.P.text 
							a(href='sertifikaty.html') Техническое свидетельство пригодности материала 
							|для применения в строительстве выдано на основании протокола испытаний РУП «Институт Бел НИИС», г. Минск.
						+e.P.text Компания МСД активно демонстрирует свою деятельность на рынке производства пленки для натяжных потолков. Постоянно участвует в профессиональных выставках в Китае и за рубежом.
						+e.UL.list-msd
							+e.LI.item
								+e.A.link.link(href='assets/images/msd/2.jpg')
									img(src='assets/images/msd/2.jpg' width='200' height='150' alt='MSD материал')
							+e.LI.item
								+e.A.link.link(href='assets/images/msd/3.jpg')
									img(src='assets/images/msd/3.jpg' width='200' height='150' alt='MSD материал')
							+e.LI.item
								+e.A.link.link(href='assets/images/msd/4.jpg')
									img(src='assets/images/msd/4.jpg' width='200' height='150' alt='MSD материал')
							+e.LI.item
								+e.A.link.link(href='assets/images/msd/5.jpg')
									img(src='assets/images/msd/5.jpg' width='200' height='150' alt='MSD материал')
						+e.P.text Официальный сайт компании МСД имеет русскую версию и доступен по адресу 
							a(href='http://ru.zjmsd.com') http://ru.zjmsd.com
					+e.SECTION.features-msd
						h2.heading.heading_h2 Характеристики пленки MSD
						table
							tr
								td Назначение
								td предназначена для устройства натяжных потолков в помещениях жилых, общественных и производственных зданий и сооружений
							tr
								td Состав материала
								td мягкий поливинилхлорид
							tr
								td Вес, г/м.кв
								td 180-205
							tr
								td Толщина, мм
								td 0.13-0.19
							tr
								td Ширина рулона/размеры полотен, м
								td 3.2; 4.0; 5.0;
							tr
								td Рекомендуемая температура эксплуатации
								td +5 - +50 С
							tr
								td Ассортиментная линия
								td матовая, глянцевая, сатиновая, фактурные, транспорент, облака (глянцевое небо), капли, галактика, тиснение
							tr
								td Возможность нанесение фотопечати
								td да
							tr
								td Способ монтажа
								td горячая установка (используется тепловое оборудование)
							tr
								td Количество расцветок
								td более 150 цветов и оттенков
							tr
								td ПВХ пленка не монтируется
								td
									+e.P.text - в помещениях, где температура ниже 0 С (балконы, лоджии, неотапливаемые в зимний период дачи и тд.)
										br
										|- в помещениях с высокими температурными показателями микроклимата (сауны, бани)
					+e.P.text
						|Цену натяжного потолка MSD в Минске с установкой «под ключ» Вы можете рассчитать, используя 
						a(href='index.html#go-to-calc') онлайн калькулятор.
					
