.content
	header
		margin-bottom 10px
	&__features-msd
		padding-right 20px
		table
			margin-bottom 20px
		tr
			border 1px solid $c_moon-bg
		td
			padding-top 8px
			padding-bottom 8px
			padding-left 10px
			&:first-child
				border-right 1px solid $c_moon-bg
	&__list-msd
		display -webkit-flex
		display -ms-flex
		display flex
		justify-content space-around
		margin-bottom 20px
		li
			box-shadow 0 0 5px 0 rgba(0,0,0,.3)
			&:hover
				transform scale(1.1)
