mixin copyright()
	+b.copyright&attributes(attributes)
		+e.inner
			+e.A.site-map(href='#') Карта сайта
			+e.P.text OVERTINA.BY - производство
				br
				| и установка натяжных потолков.
				br
				br
				| Copyright 2012-2016.
				br
				| Все права защищены
