.side-buttons
	position fixed
	right 0
	top calc(50% - 150px)
	&__inner
		display -webkit-flex
		display -ms-flex
		display flex
		flex-direction column
	&__button
		position relative
		display inline-block
		vertical-align top
		width 70px
		height 75px
		padding 5px
		padding-top 45px
		margin-bottom 10px
		font-size 12px
		color $c_white
		background-color $c_light-green
		border-radius 5px 0 0 5px
		text-align center
		&:hover
			background-color #80df95
	&__icon
		top 15%
		left calc(50% - 15px)
		fill $c_white
		stroke $c_white
		stroke-width 2
