.content
	&_bathroom-ceilings
		section
			clearfix()
			h3
				padding-bottom 5px
			p
				line-height: 25px
			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6)
				padding-bottom 15px
		