mixin list(obj)
	if obj.block === 'true'
		+b.UL.list(class='_#{obj.modifier}')&attributes(attributes)
			each item in obj.items
				+e.LI.item(class='_#{obj.modifier}')= item
	else
		+e.UL.list(class='_#{obj.modifier} list')&attributes(attributes)
			each item in obj.items
				+e.LI.item(class='list__item')= item
