mixin breadcrumbs()
	+b.breadcrumbs&attributes(attributes)
		+e.inner.container
			+e.UL.list
				+svg('phone', 20,20)
				+e.LI.item
					+e.A.link.link Главная
				+e.LI.item
					+e.A.link.link(href='#') Глянцевые
				+e.LI.item
					+e.A.link._active.link() Etc
