mixin breadcrumbs(pageName)
	+b.breadcrumbs&attributes(attributes)
		+e.inner.container
			+e.UL.list
				+e.LI.item
					+e.A.link._home.link(href='index.html') Главная
						+svg('home', 18,18)
				+e.LI.item
					+e.A.link._active.link #{pageName}
