.top-menu-dropdown
	position absolute
	left 0
	right 0
	top 100%
	width 100%
	padding-top 10px
	padding-bottom 20px
	z-index 20
	visibility visible
	opacity 1
	background-color #3e4753//$c_footer
	transition all .2s cubic-bezier(0.9,.1,.1,.9)
	&__inner
		display -webkit-flex
		display -ms-flex
		display flex
	&__column_75
		width 900px
	&__wrapper
		display -webkit-flex
		display -ms-flex
		display flex
	&__list
		width 225px
		span
			display block
			margin-bottom 10px
			color #919ba9//#ffda50
			text-decoration underline
	&__title
		display block
		margin-bottom 30px
		font-family $h-font
		font-size 16px
		color #8996a9//$c_white-semi
	&__link
		display inline-block
		vertical-align top
		font-family $base-font
		font-size 13px
		color $c_white
		line-height 20px
