mixin top-menu-dropdown()
	+b.top-menu-dropdown&attributes(attributes)
		+e.inner.container
			+e.wrapper
				+e.UL.list._by-texture
					+e.Li.item
						span по фактуре
					+e.LI.item
						+e.A.link.link(href='') Матовые
					+e.LI.item
						+e.A.link.link(href='') Глянцевые
					+e.LI.item
						+e.A.link.link(href='') Сатиновые
					+e.LI.item
						+e.A.link.link(href='') Тканевые
				+e.UL.list._by-type
					+e.Li.item
						span по типу
					+e.LI.item
						+e.A.link.link(href='') Одноуровневые
					+e.LI.item
						+e.A.link.link(href='') Двухуровневые
					+e.LI.item
						+e.A.link.link(href='') Фотопечать
					+e.LI.item
						+e.A.link.link(href='') Комбинированные
					+e.LI.item
						+e.A.link.link(href='') Парящие линии
					+e.LI.item
						+e.A.link.link(href='') С подстветкой
				+e.UL.list._by-use
					+e.Li.item
						span по применению
					+e.LI.item
						+e.A.link.link(href='') На кухне
					+e.LI.item
						+e.A.link.link(href='') В ванной
					+e.LI.item
						+e.A.link.link(href='') В детской
					+e.LI.item
						+e.A.link.link(href='') В спальне
					+e.LI.item
						+e.A.link.link(href='') В гостинной
					+e.LI.item
						+e.A.link.link(href='') В коридоре
				+e.UL.list._by-brend
					+e.Li.item
						span по брендам
					+e.LI.item
						+e.A.link.link(href='') Немецкие PONGS
					+e.LI.item
						+e.A.link.link(href='') Немецкие DESCOR
					+e.LI.item
						+e.A.link.link(href='') Китайские MSD
					+e.LI.item
						+e.A.link.link(href='') Французские CLIPSO
				+e.UL.list._commom-goods
					+e.Li.item
						span Сопутствующие товары
					+e.LI.item
						+e.A.link.link(href='') Светильники
					+e.LI.item
						+e.A.link.link(href='') Карнизы
					+e.LI.item
						+e.A.link.link(href='') Фотокартины
					+e.LI.item
						+e.A.link.link(href='') Фотостены
