mixin top-menu-dropdown()
	+b.top-menu-dropdown&attributes(attributes)
		+e.inner.container
			+e.wrapper
				+e.UL.list._by-texture
					+e.LI.item
						span по фактуре
					+e.LI.item
						+e.A.link.link(href='natyazhnye-potolki-matovye.html') Матовые
					+e.LI.item
						+e.A.link.link(href='natyazhnye-potolki-glyantsevye.html') Глянцевые
					+e.LI.item
						+e.A.link.link(href='natyazhnye-potolki-satinovye.html') Сатиновые
					+e.LI.item
						+e.A.link.link(href='natyazhnye-potolki-tkanevye.html') Тканевые
				+e.UL.list._by-type
					+e.LI.item
						span по типу
					+e.LI.item
						+e.A.link.link(href='') Двухуровневые
					+e.LI.item
						+e.A.link.link(href='') Многоуровневые
					+e.LI.item
						+e.A.link.link(href='') Фотопечать
					+e.LI.item
						+e.A.link.link(href='') Комбинированные
					+e.LI.item
						+e.A.link.link(href='') Парящие линии
					+e.LI.item
						+e.A.link.link(href='') С подстветкой
				//- +e.UL.list._by-use
				//- 	+e.LI.item
				//- 		span по применению
				//- 	+e.LI.item
				//- 		+e.A.link.link(href='') На кухне
				//- 	+e.LI.item
				//- 		+e.A.link.link(href='') В ванной
				//- 	+e.LI.item
				//- 		+e.A.link.link(href='') В детской
				//- 	+e.LI.item
				//- 		+e.A.link.link(href='') В спальне
				//- 	+e.LI.item
				//- 		+e.A.link.link(href='') В гостинной
				//- 	+e.LI.item
				//- 		+e.A.link.link(href='') В коридоре
				+e.UL.list._by-brend
					+e.LI.item
						span по брендам
					+e.LI.item
						+e.A.link.link(href='pongs-germaniya-pvkh.html') Немецкие PONGS
					+e.LI.item
						+e.A.link.link(href='descor-germaniya-tkan.html') Немецкие DESCOR
					+e.LI.item
						+e.A.link.link(href='msd-kitaj-pvkh.html') Китайские MSD
					+e.LI.item
						+e.A.link.link(href='clipso-frantsiya-tkan.html') Французские CLIPSO
				+e.UL.list._commom-goods
					+e.LI.item
						span Сопутствующие товары
					+e.LI.item
						+e.A.link.link(href='svetilniki-potolochnye.html') Светильники
					+e.LI.item
						+e.A.link.link(href='') Карнизы
					+e.LI.item
						+e.A.link.link(href='kartiny-s-fotopechatyu.html') Фотокартины
					+e.LI.item
						+e.A.link.link(href='natyazhnye-steny.html') Фотостены
