.footer-call-us
	margin-bottom: 20px
	&__content
		display: flex
		flex-direction: column
		font-family: $base-font
		font-size 14px
		line-height 25px
		font-weight: 400
		text-transform: uppercase
	&__link
		color: $c_grey-text
		span
			color: $c_white
			font-weight 700
