.footer-call-us
	margin-bottom: 10px
	&__content
		position relative
		display: flex
		flex-direction: column
		font-family: $base-font
		font-size 14px
		line-height 25px
		font-weight: 400
		text-transform: uppercase
	&__link
		color: $c_grey-text
		span
			color: $c_white
			font-weight 700
	&__icon_phone
		left 5px
		top: calc(50% - 15px)
		fill: $c_white
		stroke: $c_white
		stroke-width: 1
