include /blocks/slider/slider
include /blocks/icon-menu/icon-menu
include /blocks/breadcrumbs/breadcrumbs
include /blocks/side-menu/side-menu
include /blocks/icon/icon
include /blocks/stapel/stapel

mixin main()
	+b.MAIN.page-content
		+e.inner.container
			+slider
			+icon-menu
			+b.breadcrumbs&attributes(attributes)
				+e.inner.container
					+e.UL.list
						+e.LI.item
							+e.A.link.link(href='index.html') Главная
						+e.LI.item
							+e.A.link._active.link Натяжные потолки PONGS (Германия)
			+e.main-content-wrapper.container
				+side-menu
				+b.ARTICLE.content
					+e.H1.title.heading._h1 Натяжные потолки PONGS (Германия)
					+e.P.text 
						img(src='assets/images/pongs/pongs_Germania.jpg' width='370' height='245' alt='pongs' style='float:left; margin-right:15px;')
						|Официальный производитель пленки для натяжных потолков из Германии компания PONGS Technical Textiles Gmbh.
						|PONGS – лидер по производству текстильных и пленочных материалов в Европе.
						|Обеспечивая истинно немецкое качество своего продукта и разумный ценовой диапазон, компания смогла создать расширенную торговую сеть по всему миру.
						|Благодаря чему, на немецкие натяжные потолки в Минске цены доступны, а потолки представлены в категории премиум класса.
						|Для производства пленки PONGS используется качественное исходное сырье и новейшие технологии производства. Пленка отвечает европейским показателям качества, экологически безопасна и долговечна. Компания работает по системе управления ISO 9001.
					+e.P.text Технология производства полотен постоянно модернизируется, разрабатываются новые фактуры, текстуры, ширины. Дизайнеры получают неограниченные возможности для реализации своих идей, а клиенты экологичность, пожаробезопасность, надежность и красоту потолочных конструкций с гарантийным сроком эксплуатации более 20 лет.
					+e.SECTION.catalog-pongs
						header
							h2.heading.heading_h2 Каталог натяжных потолков PONGS
							p.text Линия продуктов пленки ПВХ представлена следующими торговыми марками:
						ul
							li «MattFolie» (матовая)
							li «LackFolie» (глянцевая)
							li «Suede» (сатиновая)
							li «MetallFolie» (металлик)
							li «Rallye P» (фактурная, транспорент, финка, тиснение, гольф и др.)
						+e.P.text
							a(href='descor-germaniya-tkan.html') Тканевые натяжные потолки 
							|немецкого производителя Pongs выпускаются под торговой маркой «Descor»
					+e.SECTION.features-pongs
						table
							tr
								td Состав материала
								td 100% поливинилхлорид
							tr
								td Вес, г/м.кв
								td 190-215
							tr
								td Толщина, мм
								td 0.13-0.19
							tr
								td Ширина рулона/размеры полотен, см
								td 130; 180; 200; 270; 325
							tr
								td Способ монтажа
								td горячая установка (используется тепловое оборудование)
							tr
								td Количество расцветок
								td более 140 цветов и оттенков
							tr
								td ПВХ пленка не монтируется
								td
									+e.P.text - в помещениях, где температура ниже 0 С (балконы, лоджии, неотапливаемые в зимний период дачи и тд.)
										br
										|- в помещениях с высокими температурными показателями микроклимата (сауны, бани)
					+e.P.text
						|Техническое 
						a(href='sertifikaty.html') свидетельство о пригодности материала 
						|для применения в строительстве на территории Республики Беларусь выдано РУП «Институт Бел НИИС», г. Минск. Официальный сайт компании PONGS доступен по адресу 
						a(href='http://pongs.com') http://pongs.com
					+e.P.text
						|Цену немецкого натяжного потолка Pongs в Минске с установкой «под ключ» Вы можете рассчитать, используя 
						a(href='index.html#go-to-calc') онлайн калькулятор.
					
