include /blocks/slider/slider
include /blocks/icon-menu/icon-menu
include /blocks/breadcrumbs/breadcrumbs
include /blocks/side-menu/side-menu
include /blocks/icon/icon

mixin main()
	+b.MAIN.page-content
		+e.inner.container
			+slider
			+icon-menu
			+b.breadcrumbs&attributes(attributes)
				+e.inner.container
					+e.UL.list
						+e.LI.item
							+e.A.link.link(href='index.html') Главная
						+e.LI.item
							+e.A.link._active.link Вопрос-ответ
			+e.main-content-wrapper
				+side-menu
				+b.ARTICLE.content
					h1.heading.heading_h1 Все о натяжных потолках в вопросах и ответах
