include /blocks/slider/slider
include /blocks/icon-menu/icon-menu
include /blocks/breadcrumbs/breadcrumbs
include /blocks/side-menu/side-menu
include /blocks/icon/icon
include /blocks/photo-gallery/photo-gallery
include /blocks/price-ceilings/price-ceilings
include /blocks/list/list

mixin main()
	+b.MAIN.page-content
		+e.inner.container
			+slider
			+icon-menu
			+breadcrumbs('Натяжной потолок на кухню')
			+e.main-content-wrapper.container
				+side-menu
				+b.ARTICLE.content._kitchen-ceilings
					+e.HEADER.header
						h1.heading.heading_h1 Натяжной потолок на кухню
						p Предлагая установить натяжной потолок на кухню из пленки ПВХ мы полностью уверены, что этот материал:
						+list({
							items:['не изменит цвет и внешний вид в течение всего срока эксплуатации;',
										'удержит воду в случае затопления соседями;',
										'поможет воплотить в жизнь любой дизайн;',
										'не создаст сложностей в уходе.'
										]
										})
						p Виниловая пленка не впитывает запахи, не притягивает пыль, легко моется от копоти и жира влажной губкой, смоченной в мыльном растворе.
					section
						h2.heading.heading_h2 Варианты дизайна натяжного потолка на кухне
						p При разработке дизайна потолка для кухни учитываются:
						+list({
							items:['габариты помещения и расположение функциональных зон;',
										'цветовая палитра стен, пола и мебели;',
										'расположение осветительных приборов и их количество.'
										]
										})
					section
						img(src='assets/images/kitchen-ceilings/1-kitchen-ceiling_350x250.jpg' width='350' height='250' title='' alt='' style='float:left; margin-right:25px;')
						h3.heading.heading_h3 Одноуровневые
						p Бесшовные одноуровневые натяжные потолки для кухни традиционно являются самым востребованным вариантом. Их популярность объясняется потребительскими характеристиками.
						p Покрытие получается гладким и идеально ровным. Монтаж занимает несколько часов, а срок службы более 20 лет.
					section
						img(src='assets/images/kitchen-ceilings/2-kitchen-ceiling_350x250.jpg' width='350' height='250' title='' alt='' style='float:right; margin-left:25px;')
						h3.heading.heading_h3 Фотопечать
						p Для любителей динамичного интерьера прекрасно подойдут натяжные потолки с фотопечатью. На всю площадь покрытия рисунок печатается нечасто.
						p Как правило, это небольшие изображения, расположенные над люстрой, столовой зоной или в углу кухни.
					section
						img(src='assets/images/kitchen-ceilings/3-kitchen-ceiling_350x250.jpg' width='350' height='250' title='' alt='' style='float:left; margin-right:25px;')
						h3.heading.heading_h3 Комбинированные
						p Комбинированные натяжные потолки представляют особый интерес в дизайне комнаты. Это не только множество сочетания фактур и цветов полотен, но и разнообразие конфигураций линии спайки.
						p Они искусно вписываются в дизайн кухни как больших, так и малых размеров. Помогают визуально зонировать пространство, расставить цветовые акценты.
					section
						img(src='assets/images/kitchen-ceilings/4-kitchen-ceiling_350x250.jpg' width='350' height='250' title='' alt='' style='float:right; margin-left:25px;')
						h3.heading.heading_h3 Двухуровневые
						p Ступенчатая конструкция двухуровневого натяжного потолка на кухне не только визуально изменяет геометрию пространства, но и скрывает инженерные коммуникации.
						p Для кухни в современном стиле подойдут прямолинейные двухуровневые конструкции с подсветкой.
						p В классическом стиле наиболее удачно выглядит второй уровень правильной геометрической формы (круг, овал).
					+photo-gallery({title:'Фото натяжных потолков на кухню',
													path:'assets/images/kitchen-ceilings/gallery/',
													name:[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]
													})
					+price-ceilings({title:'Цены на натяжные потолки в кухню с установкой в Минске',
													text:'Компания «Overtina» предлагает услуги по разработке и установке всех видов натяжных потолков для кухни по доступным ценам в Минске. На нашем калькуляторе Вы можете рассчитать стоимость конструкции с установкой «под ключ». Акции и ценовые скидки сделают наше предложение более привлекательным!',
													images:{
														1:'assets/images/kitchen-ceilings/price/1-vestibule-price_290x200.jpg',
														2:'assets/images/kitchen-ceilings/price/2-vestibule-price_290x200.jpg',
														3:'assets/images/kitchen-ceilings/price/3-vestibule-price_290x200.jpg'
														},
														h3:['заголовок1', 'заголовок2', 'заголовок 3м'],
														price:[234.3, 321.6, 534.1]
						})
					