.icon-menu
	background-color: $c_light-grey
	&__list
		display: flex
		justify-content: space-between
	&__link
		display: inline-block
		vertical-align: top
		padding: 15px
		color #6d6d6d
		font-family: $base-font
		font-size 13px
		font-weight 400
		line-height 16px
