.icon-menu
	margin-top -5px
	&__list
		display: flex
		justify-content: space-around
		background-color: $c_icon-menu
	&__link
		position relative
		display: inline-block
		vertical-align: top
		padding-top: 25px
		padding-bottom 25px
		padding-right 5px
		padding-left 45px
		color: #6d6d6d
		font-family: $base-font
		font-size: 14px
		font-weight: 400
		line-height: 16px
		line-height: 16px
		&:hover > svg
			opacity: 1
	&__icon
		left 0
		&_calculator
			opacity: .9
			fill: $c_light-green
			top: calc(50% - 17px)
		&_picture
			opacity: .9
			fill: $c_light-green
			top: calc(50% - 17px)
		&_percentage
			opacity: .9
			fill: $c_light-green
			top: calc(50% - 15px)
		&_lamp
			opacity: .9
			fill: $c_light-green
			top: calc(50% - 17px)
		&_project
			opacity: .9
			fill: $c_light-green
			top: calc(50% - 17px)
		&_customer
			opacity: .9
			fill: $c_light-green
			top: calc(50% - 17px)
