include /blocks/jade-mixins/lorem
include /blocks/photo-gallery/photo-gallery
include /blocks/ul/ul
include /blocks/ol/ol
include /blocks/free-consultation/free-consultation
include /blocks/calculator/calculator
include /blocks/price/price

mixin content()
	+b.ARTICLE.content
		+e.inner
			+e.H1.title Матовые натяжные потолки
			+e.P.description Среди фактур натяжных потолков, только белый матовый натяжной потолок может в полной мере передать все достоинства обычного побеленного потолка с его привычной зернистой поверхностью и классическим белым цветом. Но в отличие от побеленных потолков, он никогда не потрескается, не пожелтеет и не заставит убирать горы строительного мусора. При оформлении 
					em
						|интерьера в классическом стиле, 
					|в центре внимания которого находится массивная мебель и тяжелые гардины с ламбрекенами, матовую фактуру потолка заменить не возможно. 
					|Матовые натяжные потолки нейтральных оттенков, нашли свое применение и в популярном стиле хай-тек (Hi-Tech). Они прекрасно сочетаются со стеклом, металлом и пластиком, выгодно подчеркивая разность фактур. Характерным для данного стиля является использование 
					a(href='natyazhnye-potolki-dvukhurovnevye.html')
						|двухуровневых и многоуровневых 
					|конструкций натяжных потолков простых геометрических форм.
					|Используется матовый потолок и в очень строгом стиле современного дизайна – минимализм. Пространственная свобода, простые и точные формы, безупречное чувство меры отличают его от других стилевых решений. Поверхности цельные, совершенные, с точки зрения технологической обработки. Широко применяются здесь одноуровневые бесшовные потолочные конструкции. Искусственное освещение представлено скрытой потолочной подсветкой с использованием галогенных и неоновых ламп.
					|Для создания живописного потолочного пространства на матовое полотно наносят рисунок (
					a(href='natyazhnye-potolki-fotopechat.html') фотопечать
					|). Полученное изображение art-print выглядит насыщенным, ярким, обладает техническим совершенством и четкой цветопередачей.
					|В традиционных интерьерах белые матовые натяжные потолки смотрятся благородно, элегантно, и стильно. Белый тон в сочетании с матовой поверхностью воспринимается как нейтральное пространство, сохраняет правильность подачи стиля интерьера, не искажает его восприятие. Не зря считается белоснежный матовый потолок непревзойденной классикой. Он часто используется при оформлении гостиных, детских комнат, спален, офисных помещений и ресторанов.
			+b.SECTION.ol&attributes(attributes)
				+e.inner
					+e.H2 Преимущества натяжных потолков
					+e.OL.list
						+e.LI.item
							span Эффект "твердой" потолочной плоскости.
						+e.LI.item
							span Полное отсутствие ощущения искусственности.
						+e.LI.item
							span Не отражает зеркально предметы мебели, не создает блики.
						+e.LI.item
							span Имеет четкую цветопередачу, поэтому воспринимается освещенным равномерно.
			+photo-gallery('Фото матовых натяжных потолков')
			+free-consultation
