.content
	box-shadow 2px 2px 5px -3px rgba(0,0,0,.6)
	&__title
		margin-bottom: 10px
	&__description
		margin-bottom 15px
		padding-right 10px
		font-size: 1.6rem;
		font-family: $base-font
		color $c_left-menu-links
		font-weight: normal;
		font-style: normal;
		line-height 2.2rem
		a
			color #eb722e
			text-decoration: none
			&:hover
				text-decoration underline
		em
			font-style italic
