include /blocks/slider/slider
include /blocks/icon-menu/icon-menu
include /blocks/breadcrumbs/breadcrumbs
include /blocks/side-menu/side-menu
include /blocks/icon/icon
include /blocks/photo-gallery/photo-gallery
include /blocks/price-ceilings/price-ceilings
include /blocks/list/list

mixin main()
	+b.MAIN.page-content
		+e.inner.container
			+slider
			+icon-menu
			+breadcrumbs('Натяжной потолок в прихожую')
			+e.main-content-wrapper.container
				+side-menu
				+b.ARTICLE.content._vestibule-ceilings
					+e.HEADER.header
						h1.heading.heading_h1 Натяжной потолок в прихожую
						p Даже самая скромная по размерам прихожая должна иметь идеальный вид. Ведь это первая комната, которая «встречает» гостей.
						p Натяжной потолок в прихожей обеспечивает не только эффектный внешний вид. Но и позволяет спрятать кабеля интернета, системы сигнализации, электропровода и слои тепло и звукоизоляции, а также скрыть все дефекты базового перекрытия.
					section
						img(src='assets/images/vestibule-ceilings/1-vestibule_350x250.jpg' width='350' height='250' title='' alt='' style='float:right; margin-left:25px;')
						h2.heading.heading_h2 Дизайн натяжных потолков в прихожую
						p В огромном многообразии предложений человеку порой очень сложно сориентироваться и подобрать оптимальный вариант.
						p Варианты натяжных потолков для прихожих и коридоров:
						+list({modifier:'vestibule',
							items:['одноуровневые и двухуровневые;',
										'с подсветкой;',
										'с фотопечатью;',
										'комбинированные.']
										})
						p Самый простой и распространённый вариант - это одноуровневый натяжной потолок глянцевого или матового покрытия. Фотопечать и комбинирование полотен в прихожих применяются значительно реже. Еще реже используются натяжные потолки с подсветкой из светодиодной ленты.
					section
						img(src='assets/images/vestibule-ceilings/2-vestibule_350x250.jpg' width='350' height='250' title='' alt='' style='float:left; margin-right:25px;')
						h3.heading.heading_h3 Выбор поверхности: матовая или глянцевая
						p Матовые, сатиновые или тканевые натяжные потолки в прихожей не искажают потолочное пространство отражением предметов интерьера и не создают блики. Матовые фактуры используют в традиционных и классических интерьерах прихожих. По внешнему виду они напоминают оштукатуренные и побеленные потолки.
						img(src='assets/images/vestibule-ceilings/3-vestibule_350x250.jpg' width='350' height='250' title='' alt='' style='float:right; margin-left:20px;')
						p Если необходимо зрительно увеличить высоту помещения или расширить его пространство, то идеальным решением будет глянцевый натяжной потолок. Эффект зеркального отражения глянца не всегда является уместным. Скажем, если в комнате имеются полки, то на потолке, отразится их содержимое. При этом, чем темнее цвет глянца, тем выше степень отражения.
					section
						h3.heading.heading_h3 Выбор цвета потолка
						p Цвет натяжного потолка для прихожей подбирается в зависимости от стиля ее оформления.
						p Правила выбора цвета потолка:
						+list({
							items:['Сочетание не более двух основных цветов. Не стоит перегружать прихожую обилием цвета, а тем более вводить новый оттенок для потолка;',
										'Если коридор не имеет естественного освещения, то выбранный оттенок покрытия будет на несколько тонов темнее;',
										'В прихожую маленьких размеров лучше выбирать белые, серые, светло-коричневые и бежевые оттенки.'
										]
										})
					section
						img(src='assets/images/vestibule-ceilings/4-vestibule_350x250.jpg' width='350' height='250' title='' alt='' style='float:left; margin-right:20px;')
						h3.heading.heading_h3 Советы по выбору освещения
						p Общее освещение в прихожей должно быть мягким и равномерным. Достигается это с помощью точечных светильников, люстр или скрытой подсветки.
						p Зона возле зеркала и места для одевания освещается локально. Осветительными приборами выступают встраиваемые светильники, светодиодные ленты, бра или расположенное в корпусе мебели точечное освещение.
						p Для декоративного освещения натяжного потолка используются светодиодные ленты, неоновые трубки, дюралайтовые полосы.
					+photo-gallery({title:'Фото натяжных потолков в прихожую',
													path:'assets/images/vestibule-ceilings/gallery/',
													name:[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
													})
					+price-ceilings({title:'Цены на натяжные потолки с установкой в Минске',
													text:'Компания «Overtina» оказывает услуги по установке натяжных потолков в Минске. Цены на натяжные потолки в ванную комнату представлены в прайсе.  Также Вы можете посмотреть фото и цены готовых решений  для комнат стандартных размеров.',
													images:{
														1:'assets/images/vestibule-ceilings/price/1-vestibule-price_290x200.jpg',
														2:'assets/images/vestibule-ceilings/price/2-vestibule-price_290x200.jpg',
														3:'assets/images/vestibule-ceilings/price/3-vestibule-price_290x200.jpg'
														},
														h3:['заголовок1', 'заголовок2', 'заголовок 3м'],
														price:[234.3, 321.6, 534.1]
						})
