mixin footer-menu()
	+b.footer-menu&attributes(attributes)
		+e.inner
			+e.UL.list
				+e.LI.item
					+e.A.link.link(href='#') Калькулятор
				+e.LI.item
					+e.A.link.link(href='#') Фото и цены
				+e.LI.item
					+e.A.link.link(href='#') Акции и скидки
				+e.LI.item
					+e.A.link.link(href='#') Светильники
				+e.LI.item
					+e.A.link.link(href='#') Карнизы
				+e.LI.item
					+e.A.link.link(href='#') Наши работы
				+e.LI.item
					+e.A.link.link(href='#') О нас
