.call-back
	text-align: right
	&__link
		position relative
		display: block
		padding-top: 12px
		padding-bottom: 12px
		padding-left: rem(40px)
		padding-right: rem(15px)
		color: $c_white
		font-family: $base-font
		font-size: rem(16px)
		font-weight: 400
		line-height: rem(16px)
		border: rem(1px) solid #308d51
		border-radius: 5px
		//text-transform: uppercase
		background-color: $c_light-green
	&__text
		color: $c_grey-text
		font-size: rem(14px)
		font-style: italic
	&__icon_phone
		left rem(10px)
		top: calc(50% - 12px)
		fill: $c_white
		stroke: $c_white
		stroke-width: 1
