.call-back
	&__inner
		text-align: right
	&__link
		display: block
		padding-top: 14px
		padding-bottom: 12px
		padding-left: 40px
		padding-right: 10px
		color: $c_light-green
		font-family: $base-font
		font-size: 16px
		font-weight: 400
		line-height: 16px
		border: 1px solid #308d51
		border-radius: 5px
		text-transform: uppercase
	&__text
		color: #aaa
		font-size: 14px
		font-style: italic

