mixin reasons()
	+b.reasons&attributes(attributes)
		+e.inner
			span 5 главных причин
			+e.title почему компанию OVERTINA выбирают и рекомендуют
			+e.wrapper
				+e.item 
					+e.P.text
						span.title Подробная консультация
						|Менеджер  подробно и вежливо проконсультирует Вас по телефону по всем 
						span.light-green интересующим
						|Вас вопросам
				+e.item
				+e.item
				+e.item
				+e.item
			
