mixin stapel()
	+b.reasons&attributes(attributes)
		+e.inner.container
			+e.H2.title.heading.heading_h2 Примеры наших работ
			+e.top-bar
				+e.SPAN.close.link X
			//- span 5 главных причин
			//- +e.title почему компанию OVERTINA выбирают и рекомендуют
			//- +e.wrapper
			//- 	+e.item 
			//- 		+e.P.text
			//- 			span.title Подробная консультация
			//- 			br
			//- 			|Менеджер  подробно и вежливо проконсультирует Вас по телефону по всем 
			//- 			span.light-green интересующим
			//- 			|Вас вопросам
			//- 	+e.item
			//- 		+e.P.text
			//- 			span.title Бесплатный выезд замерщика
			//- 			|Специалисты нашей компании осуществляют монтаж натяжных потолков и стен способами холодной и горячей
			//- 			span.light-green установки
			//- 	+e.item
			//- 		+e.P.text
			//- 			span.title Выполнение заказа от 24 часов
			//- 			|Менеджер  подробно и вежливо проконсультирует Вас по телефону по всем 
			//- 			span.light-green интересующим
			//- 			|Вас вопросам
			//- 	+e.item
			//- 		+e.P.text
			//- 			span.title Профессиональный монтаж
			//- 			|Менеджер  подробно и вежливо проконсультирует Вас по телефону по всем 
			//- 			span.light-green интересующим
			//- 			|Вас вопросам
			//- 	+e.item
			//- 		+e.P.text
			//- 			span.title 20 лет гарантии
			//- 			|Менеджер  подробно и вежливо проконсультирует Вас по телефону по всем 
			//- 			span.light-green интересующим
			//- 			|Вас вопросам
			ul.tp-grid#tp-grid
				li(data-pile='Одноуровневые')
					a(href='/assets/images/pictures/1.jpg')
						img(src='/assets/images/pictures/1.jpg' width='200' height='170')
				li(data-pile='Одноуровневые')
					a(href='/assets/images/pictures/2.jpg')
						img(src='/assets/images/pictures/2.jpg' width='200' height='170')
				li(data-pile='Одноуровневые')
					a(href='/assets/images/pictures/3.jpg')
						img(src='/assets/images/pictures/3.jpg' width='200' height='170')
				li(data-pile='Одноуровневые')
					a(href='/assets/images/pictures/4.jpg')
						img(src='/assets/images/pictures/4.jpg' width='200' height='170')
				li(data-pile='Одноуровневые')
					a(href='/assets/images/pictures/5.jpg')
						img(src='/assets/images/pictures/5.jpg' width='200' height='170')
				li(data-pile='Одноуровневые')
					a(href='/assets/images/pictures/6.jpg')
						img(src='/assets/images/pictures/6.jpg' width='200' height='170')
				li(data-pile='Одноуровневые')
					a(href='/assets/images/pictures/7.jpg')
						img(src='/assets/images/pictures/7.jpg' width='200' height='170')
				li(data-pile='Одноуровневые')
					a(href='/assets/images/pictures/8.jpg')
						img(src='/assets/images/pictures/8.jpg' width='200' height='170')
				li(data-pile='Двухуровневые')
					a(href='/assets/images/pictures/1.jpg')
						img(src='/assets/images/pictures/1.jpg' width='200' height='170')
				li(data-pile='Двухуровневые')
					a(href='/assets/images/pictures/2.jpg')
						img(src='/assets/images/pictures/2.jpg' width='200' height='170')
				li(data-pile='Двухуровневые')
					a(href='/assets/images/pictures/3.jpg')
						img(src='/assets/images/pictures/3.jpg' width='200' height='170')
				li(data-pile='Двухуровневые')
					a(href='/assets/images/pictures/4.jpg')
						img(src='/assets/images/pictures/4.jpg' width='200' height='170')
				li(data-pile='Двухуровневые')
					a(href='/assets/images/pictures/5.jpg')
						img(src='/assets/images/pictures/5.jpg' width='200' height='170')
				li(data-pile='Двухуровневые')
					a(href='/assets/images/pictures/6.jpg')
						img(src='/assets/images/pictures/6.jpg' width='200' height='170')
				li(data-pile='Двухуровневые')
					a(href='/assets/images/pictures/7.jpg')
						img(src='/assets/images/pictures/7.jpg' width='200' height='170')
				li(data-pile='Двухуровневые')
					a(href='/assets/images/pictures/8.jpg')
						img(src='/assets/images/pictures/8.jpg' width='200' height='170')
				//- li(data-pile='Двухуровневые')
				//- 	span.tp-info
				//- 		span текст1
				//- 	img(src='/assets/images/pictures/5.jpg' width='200' height='170')
				//- li(data-pile='Двухуровневые')
				//- 	span.tp-info
				//- 		span текст2
				//- 	img(src='/assets/images/pictures/6.jpg' width='200' height='170')
				//- li(data-pile='Двухуровневые')
				//- 	span.tp-info
				//- 		span текст3
				//- 	img(src='/assets/images/pictures/7.jpg' width='200' height='170')
				//- li(data-pile='Двухуровневые')
				//- 	span.tp-info
				//- 		span текст4
				//- 	img(src='/assets/images/pictures/8.jpg' width='200' height='170')
