mixin stapel()
	+b.gallery&attributes(attributes)
		+e.inner.container
			+e.H2.title.heading.heading_h2 Примеры наших работ
			+e.top-bar
				+e.H3.name.heading._h3  123
				+e.SPAN.close.link X
			ul.tp-grid#tp-grid
				li(data-pile='Одноуровневые')
					a(href='/assets/images/pictures/1.jpg')
						img(src='/assets/images/pictures/1.jpg' width='200' height='170')
				li(data-pile='Одноуровневые')
					a(href='/assets/images/pictures/2.jpg')
						img(src='/assets/images/pictures/2.jpg' width='200' height='170')
				li(data-pile='Одноуровневые')
					a(href='/assets/images/pictures/3.jpg')
						img(src='/assets/images/pictures/3.jpg' width='200' height='170')
				li(data-pile='Одноуровневые')
					a(href='/assets/images/pictures/4.jpg')
						img(src='/assets/images/pictures/4.jpg' width='200' height='170')
				li(data-pile='Одноуровневые')
					a(href='/assets/images/pictures/5.jpg')
						img(src='/assets/images/pictures/5.jpg' width='200' height='170')
				li(data-pile='Одноуровневые')
					a(href='/assets/images/pictures/6.jpg')
						img(src='/assets/images/pictures/6.jpg' width='200' height='170')
				li(data-pile='Одноуровневые')
					a(href='/assets/images/pictures/7.jpg')
						img(src='/assets/images/pictures/7.jpg' width='200' height='170')
				li(data-pile='Одноуровневые')
					a(href='/assets/images/pictures/8.jpg')
						img(src='/assets/images/pictures/8.jpg' width='200' height='170')
				//- li(data-pile='Двухуровневые')
				//- 	a(href='/assets/images/pictures/1.jpg')
				//- 		img(src='/assets/images/pictures/1.jpg' width='200' height='170')
				//- li(data-pile='Двухуровневые')
				//- 	a(href='/assets/images/pictures/2.jpg')
				//- 		img(src='/assets/images/pictures/2.jpg' width='200' height='170')
				//- li(data-pile='Двухуровневые')
				//- 	a(href='/assets/images/pictures/3.jpg')
				//- 		img(src='/assets/images/pictures/3.jpg' width='200' height='170')
				//- li(data-pile='Двухуровневые')
				//- 	a(href='/assets/images/pictures/4.jpg')
				//- 		img(src='/assets/images/pictures/4.jpg' width='200' height='170')
				//- li(data-pile='Двухуровневые')
				//- 	a(href='/assets/images/pictures/5.jpg')
				//- 		img(src='/assets/images/pictures/5.jpg' width='200' height='170')
				//- li(data-pile='Двухуровневые')
				//- 	a(href='/assets/images/pictures/6.jpg')
				//- 		img(src='/assets/images/pictures/6.jpg' width='200' height='170')
				//- li(data-pile='Двухуровневые')
				//- 	a(href='/assets/images/pictures/7.jpg')
				//- 		img(src='/assets/images/pictures/7.jpg' width='200' height='170')
				//- li(data-pile='Двухуровневые')
				//- 	a(href='/assets/images/pictures/8.jpg')
				//- 		img(src='/assets/images/pictures/8.jpg' width='200' height='170')
				//- li(data-pile='Монтаж')
				//- 	a(href='/assets/images/pictures/1.jpg')
				//- 		img(src='/assets/images/pictures/1.jpg' width='200' height='170')
				//- li(data-pile='Монтаж')
				//- 	a(href='/assets/images/pictures/2.jpg')
				//- 		img(src='/assets/images/pictures/2.jpg' width='200' height='170')
				//- li(data-pile='Монтаж')
				//- 	a(href='/assets/images/pictures/3.jpg')
				//- 		img(src='/assets/images/pictures/3.jpg' width='200' height='170')
				//- li(data-pile='Монтаж')
				//- 	a(href='/assets/images/pictures/4.jpg')
				//- 		img(src='/assets/images/pictures/4.jpg' width='200' height='170')
				//- li(data-pile='Монтаж')
				//- 	a(href='/assets/images/pictures/5.jpg')
				//- 		img(src='/assets/images/pictures/5.jpg' width='200' height='170')
				//- li(data-pile='Монтаж')
				//- 	a(href='/assets/images/pictures/6.jpg')
				//- 		img(src='/assets/images/pictures/6.jpg' width='200' height='170')
				//- li(data-pile='Монтаж')
				//- 	a(href='/assets/images/pictures/7.jpg')
				//- 		img(src='/assets/images/pictures/7.jpg' width='200' height='170')
				//- li(data-pile='Монтаж')
				//- 	a(href='/assets/images/pictures/8.jpg')
				//- 		img(src='/assets/images/pictures/8.jpg' width='200' height='170')
				//- li(data-pile='фотопечать')
				//- 	a(href='/assets/images/pictures/1.jpg')
				//- 		img(src='/assets/images/pictures/1.jpg' width='200' height='170')
				//- li(data-pile='фотопечать')
				//- 	a(href='/assets/images/pictures/2.jpg')
				//- 		img(src='/assets/images/pictures/2.jpg' width='200' height='170')
				//- li(data-pile='фотопечать')
				//- 	a(href='/assets/images/pictures/3.jpg')
				//- 		img(src='/assets/images/pictures/3.jpg' width='200' height='170')
				//- li(data-pile='фотопечать')
				//- 	a(href='/assets/images/pictures/4.jpg')
				//- 		img(src='/assets/images/pictures/4.jpg' width='200' height='170')
				//- li(data-pile='фотопечать')
				//- 	a(href='/assets/images/pictures/5.jpg')
				//- 		img(src='/assets/images/pictures/5.jpg' width='200' height='170')
				//- li(data-pile='фотопечать')
				//- 	a(href='/assets/images/pictures/6.jpg')
				//- 		img(src='/assets/images/pictures/6.jpg' width='200' height='170')
				//- li(data-pile='фотопечать')
				//- 	a(href='/assets/images/pictures/7.jpg')
				//- 		img(src='/assets/images/pictures/7.jpg' width='200' height='170')
				//- li(data-pile='фотопечать')
				//- 	a(href='/assets/images/pictures/8.jpg')
				//- 		img(src='/assets/images/pictures/8.jpg' width='200' height='170')
