.page__inner
	display: flex
	min-height: 100vh
	flex-direction: column
	margin: 0 auto
	background-image: linear-gradient(to bottom,rgba(255,255,255,0.5) 0,rgba(255,255,255,0) 100%);
.page-content
	flex: 1

.container
	width: $page-width
	margin: 0 auto
	padding: 0 10px

.overlay
	display: none
	position: absolute
	top: 0
	left: 0
	width: 100%
	min-height: 100%
	background-color: rgba(0,0,0, .5)
	z-index: 99

.link
	text-decoration: none

.image
	max-width: 100%
	height: auto
.btn
	display inline-block
	vertical-align top
	border: none
	outline: none

.icon, .form-icon
	position absolute
	display inline-block
	vertical-align top
	fill: inherit
	stroke: inherit

.input-wrapper
	position relative
.input-field
	display inline-block
	vertical-align top
	border: none
	outline: none

.block
	display: block;
	margin: 1em

.inline
	display: inline;
	margin: 1em 0 1em 1em
