.page-content
	display: flex
	min-height: 100vh
	flex-direction: column
	margin: 0 auto

.container
	position: relative
	width: $page-width
	margin: 0 auto
	padding: 0 15px

.overlay
	display: none
	position: absolute
	top: 0
	left: 0
	width: 100%
	min-height: 100%
	background-color: rgba(0,0,0, .5)
	z-index: 99

.link
	text-decoration: none

.image
	max-width: 100%
	height: auto
