//fonts
$base-font= 'Verdana', serif
//page sizes
$page-width = 1170px
$container-width = 1140px
//colors
$c_yellow-menu = #1A3547 //#f60 //#df69a1//hover#b15315
$c_yellow-menu-hover = #ffab73
$c_light-green = #308d51
$c_dark-gold = #83753a
$c_footer-yellow = #ffa200
$c_footer-yellow-lighter = #f5c018
$c_grey-text = #aaa
$c_white = #fff
$c_light-grey = #f5f5f5
$c_slider = #00a287 //linear-gradient(90deg,#517fa4 10%,#243949 90%)
$c_left-menu-links = #494949

