//fonts
$base-font= 'Verdana', serif
$h-font = 'Arial', serif
//page sizes
$page-width = 1170px
$container-width = 1200px
//colors
$c_top-menu = #1A3547 //#f60 //#df69a1//hover#b15315
$c_light-green = #6fc90d
$c_orange =  #ff6600 //
$c_orange2 = #ffa200
$c_footer-yellow-lighter = #f5c018
$c_grey-text = #aaa
$c_white = #fff
$c_black = #000
$c_light-grey = #f5f5f5
$c_slider = #00a287 //linear-gradient(90deg,#517fa4 10%,#243949 90%)
$c_left-menu-links = #494949
$c_icon-menu = #f5f4f3
