//fonts
$base-font= 'Verdana', serif
$h-font = 'Arial', serif
//page sizes
$page-width = 1200px
$container-width = 960px
//colors
$c_drop-menu = #3e4753
$c_top-menu = #1A3547 //#f60 //#df69a1//hover#b15315
$c_light-green = #53bf6b
$c_green-hover = #80df95;//#b7efc3
$c_btn = #59c471
$c_orange =  #eb722e
$c_orange2 = #ffa200
$c_footer-yellow-lighter = #f5c018
$c_grey-text = #aaa
$c_white = #fff
$c_black = #000
$c_white-semi = rgba(255,255,255,.5)
$c_light-grey = #f5f5f5
$c_green-soft = #00a287 //linear-gradient(90deg,#517fa4 10%,#243949 90%)
$c_left-menu-links = #494949
$c_icon-menu = #f5f4f3
$c_moon-bg = #d9d9d9
// background-image: linear-gradient(to bottom,rgba(255,255,255,0.3) 0,rgba(255,255,255,0) 100%);
// box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.2);
$c_footer = #3e4753//#4c5b5c
$c_footer-color = rgba(255,255,255,.7)//#7c9192 //#e9eaec
$c_footer-green = #adfd00 //hover #76b100
$c_text = #494949
