mixin ceiling-advantages()
	+b.SECTION.ceiling-advantages&attributes(attributes)
		+e.inner
			+e.H3 Преимущества натяжных потолков
			+e.UL.list
				+e.LI.item
					p Эффект "твердой" потолочной плоскости.
				+e.LI.item
					p Полное отсутствие ощущения искусственности.
				+e.LI.item
					p Не отражает зеркально предметы мебели, не создает блики.
				+e.LI.item
					p Имеет четкую цветопередачу, поэтому воспринимается освещенным равномерно.
			
