include /blocks/lamps-gallery-item/lamps-gallery-item

mixin lamps-gallery()
	+b.lamps-gallery&attributes(attributes)
		+e.inner
			+lamps-gallery-item({
				price:3.58,
				number:1,
				producer:"Feron",
				size:75,
				color:'белый',
				src:'assets/images/lamps/cvetilnic_feron_dl307_beliy_1.jpg'
				})
			+lamps-gallery-item({
				price:4.35,
				number:2,
				producer:"Feron",
				size:75,
				color:'хром',
				src:'assets/images/lamps/cvetilnic_feron_dl307_hrom_2.jpg'
				})
			+lamps-gallery-item({
				price:4.35,
				number:3,
				producer:"Feron",
				size:75,
				color:'титан',
				src:'assets/images/lamps/cvetilnic_feron_dl307_titan_3.jpg'
				})
			+lamps-gallery-item({
				price:4.65,
				number:4,
				producer:"Feron",
				size:75,
				color:'золото',
				src:'assets/images/lamps/cvetilnic_feron_dl307_zoloto_4.jpg'
				})
			+lamps-gallery-item({
				price:5.35,
				number:5,
				producer:"Feron",
				size:80,
				color:'серебро',
				src:'assets/images/lamps/cvetilnic_feron_GS-M361S_serebro_5.jpg'
				})
			+lamps-gallery-item({
				price:5.53,
				number:6,
				producer:"Feron",
				size:80,
				color:'белый',
				src:'assets/images/lamps/cvetilnic_feron_GS-M361S_beliy_6.jpg'
				})
			+lamps-gallery-item({
				price:6.44,
				number:7,
				producer:"Feron",
				size:85,
				color:'хром',
				src:'assets/images/lamps/cvetilnic_feron_125T_hrom_7.jpg'
				})
			+lamps-gallery-item({
				price:4.55,
				number:8,
				producer:"Feron",
				size:80,
				color:'хром',
				src:'assets/images/lamps/cvetilnic_feron_730C-W_krasniy_8.jpg'
				})
			+lamps-gallery-item({
				price:6.86,
				number:9,
				producer:"Feron",
				size:85,
				color:'хром/титан',
				src:'assets/images/lamps/cvetilnic_feron_098T-S_titan_9.jpg'
				})
			+lamps-gallery-item({
				price:3.10,
				number:10,
				producer:"Elektrostandart",
				size:86,
				color:'медь',
				src:'assets/images/lamps/10/svetilnik_v_potoloc_CD2319_10.jpg'
				})
			+lamps-gallery-item({
				price:4.90,
				number:11,
				producer:"Elektrostandart",
				size:100,
				color:'бронза',
				src:'assets/images/lamps/10/svetilnik_v_potoloc_CD2318_11.jpg'
				})
			+lamps-gallery-item({
				price:3.10,
				number:12,
				producer:"Elektrostandart",
				size:110,
				color:'медь',
				src:'assets/images/lamps/10/svetilnik_potolochniy_CD2318_12.jpg'
				})
			
