extends /blocks/layout-default/layout-default
include /blocks/header/header
include /blocks/content/bathroom-ceilings/main
include /blocks/footer/footer

block head
	- var pageTitle = 'Потолок в ванную';
	- var pageDescription = '';
	- var pageKeywords = '';
block content
	+header
	+main
	+footer
