extends /blocks/layout-default/layout-default
include /blocks/header/header
include /blocks/content/descor-germaniya-tkan/main
include /blocks/footer/footer

block head
	- var pageTitle = 'Натяжные потолки Descor. Ткань';
	- var pageDescription = '';
	- var pageKeywords = '';
block content
	+header
	+main
	+footer
