extends /blocks/layout-default/layout-default
include /blocks/header/header
include /blocks/content/natyazhnye-potolki-tkanevye/main
include /blocks/footer/footer

block head
	- var pageTitle = 'Тканевые натяжные потолки';
	- var pageDescription = '';
	- var pageKeywords = '';
block content
	+header
	+main
	+footer
