mixin free-consultation()
	+b.SECTION.free-consultation&attributes(attributes)
		+e.inner
			h3 Бесплатная консультация по натяжным потолкам
			+e.UL.list
				+e.LI.item
					b На консультации вы узнаете:
				+e.Li.item
					p Сроки монтажа
				+e.Li.item
					p Предварительную стоимость установки
				+e.Li.item
					p Рекомендации по выбору материалов для потолка
				+e.Li.item
					p Вы можете заказать бесплатный выезд замерщика для расчета точной стоимости и решения | |технических вопросов
