mixin free-consultation()
	+b.SECTION.free-consultation&attributes(attributes)
		+e.inner
			h3 Бесплатная консультация по натяжным потолкам
			+e.UL.list
				+e.LI.item
					b На консультации вы узнаете:
				+e.LI.item
					p Сроки монтажа
				+e.LI.item
					p Предварительную стоимость установки
				+e.LI.item
					p Рекомендации по выбору материалов для потолка
				+e.LI.item
					p Вы можете заказать бесплатный выезд замерщика для расчета точной стоимости и решения технических вопросов
			+e.P.btn-wrapper
				+e.A.link.link(href='#') Получить
					br
					|бесплатную консультацию
				+e.SPAN.work-time Время работы: 9:00 - 20:00
					span без выходных
