include /blocks/jade-mixins/lorem
include /blocks/photo-gallery/photo-gallery
include /blocks/ul/ul
include /blocks/ol/ol
include /blocks/free-consultation/free-consultation
include /blocks/calculator/calculator

mixin content()
	+b.ARTICLE.content
		+e.inner
			+e.H2.title Глянцевые натяжные потолки
			+e.P.description
				+lipsum(250)
				+photo-gallery
				+ul
				+ol
				+free-consultation
				+calculator
