include /blocks/jade-mixins/lorem
include /blocks/photo-gallery/photo-gallery
include /blocks/ceiling-advantages/ceiling-advantages

mixin content()
	+b.ARTICLE.content
		+e.inner
			+e.H2.title Глянцевые натяжные потолки
			+e.P.description
				+lipsum(250)
				+photo-gallery
				+ceiling-advantages
