mixin discount()
	+b.SECTION.discount&attributes(attributes)
		+e.inner
			h3.heading.heading_h3 При заказе натяжного потолка с сайта
				span скидка 5%
			+e.P.text (от суммы по договору) будет прикреплена к Вашему номеру телефона
			+e.A.button.link(href='#') Оформить заказ
