.discount
	background-image url(../images/discount.svg)
	background-repeat no-repeat
	background-position center 73%
	background-size 210px 210px
	&__header
		margin-bottom 305px
	&__list
		padding-top 15px
	&__item
		position relative
		padding-left 20px
		margin-bottom 15px
		&:before
			position: absolute;
			content: '';
			left: 0;
			top: calc(50% - 4px)
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 4px 0 4px 12px;
			border-color: transparent transparent transparent $c_light-green
	span
		color $c_light-green
