.discount
	padding-top 200px
	background-image url(../images/discount.svg)
	background-repeat no-repeat
	background-position top center
	background-size 200px 200px
	&__text
		margin-bottom 30px
	&__button
		position relative
		display block
		margin 0 auto
		max-width 300px
		padding-top 15px
		padding-bottom 15px
		color $c_grey-text
		// background-color $c_light-green
		text-align center
		border-radius 5px
		box-shadow 0 0 5px 0 rgba(0,0,0,.3)
		cursor pointer
		&:after
			position absolute
			top 100%
			left 0
			content '*мы свяжемся с Вами в течение часа'
			padding-top 8px
			font-size 12px
			color $c_grey-text
		&:hover
			color $c_black
			background-color $c_moon-bg
	&__text
		padding-top 10px
	span
		color $c_light-green
