.content
	&__catalog-clipso
		display -webkit-flex
		display -ms-flex
		display flex
		flex-flow row wrap
		justify-content space-around
		header
			width 100%
			margin-bottom 10px
			h2
				text-align center
		section
			max-width 350px
			margin-bottom 15px
			h3
				padding-top 5px
				padding-bottom 5px
				text-align center
