.gallery
	h2
		padding-top 5px
		text-align center
	&__list
		display -webkit-flex
		display -ms-flex
		display flex
		flex-wrap wrap
		justify-content space-around
		margin-bottom 20px
		li
			margin-bottom 10px
			// box-shadow 0 0 0 2px rgba(0,0,0,.3)
			&:hover
				transform scale(1.03)
		a
			display block
			min-height 100%
