mixin ceilings-catalog()
	+b.SECTION.ceilings-catalog&attributes(attributes)
		+e.inner.container
			+e.H2.title Каталог натяжных потолков и сопутствующих товаров
			+e.left-part
				+e.accordin
					+e.H3 Натяжные потолки
					+e.B.accordin-title - по фактуре
					+e.DIV.wrapper
						+e.A.accordin-link.link(href='') матовые
						+e.A.accordin-link.link(href='') глянцевые
						+e.A.accordin-link.link(href='') сатиновые
						+e.A.accordin-link.link(href='') тканевые
					+e.B.accordin-title._type - по типу
					+e.DIV.wrapper.hidden
						+e.A.accordin-link.link(href='') одноуровневые
						+e.A.accordin-link.link(href='') двухуровневые
						+e.A.accordin-link.link(href='') фотопечать
						+e.A.accordin-link.link(href='') комбинированные
						+e.A.accordin-link.link(href='') парящие линии
						+e.A.accordin-link.link(href='') с подсветкой
					+e.B.accordin-title._use - по применению
					+e.DIV.wrapper.hidden
						+e.A.accordin-link.link(href='') на кухне
						+e.A.accordin-link.link(href='') в ванной
						+e.A.accordin-link.link(href='') в детской
						+e.A.accordin-link.link(href='') в спальной
						+e.A.accordin-link.link(href='') в гостинной
						+e.A.accordin-link.link(href='') в коридоре
			+e.right-part
				+e.common-goods
					h3 Сопутствующие товары
					+e.img-wrapper
						picture
							img.image(src='http://placehold.it/270x230' alt='' title='')
						picture
							img.image(src='http://placehold.it/270x230' alt='' title='')
						picture
							img.image(src='http://placehold.it/270x230' alt='' title='')
					
			
