.calculator
	width 500px
	padding-left 20px
	padding-right 20px
	background-color #f2f2f2
	border 1px solid $c_moon-bg
	&__header,
	&__footer
		margin 0 -20px
		padding-top 15px
		padding-bottom 15px
		padding-left 20px
		background-color #e3e3e3
	&__header
		margin-bottom 15px
		border-bottom 1px solid $c_moon-bg
	&__footer
		border-top 1px solid $c_moon-bg
		p
			font-family: $base-font
			color: $c_black
			font-size: 15px
			line-height 22px
			font-weight 700
	&__title
		font-family: $h-font
		color: $c_black
		font-size: 17px
		line-height 20px
		font-weight 500
		text-transform: uppercase
	&__subtitle
		font-family: $base-font
		color: $c_black
		line-height 20px
		font-size: 13px
	&__fieldset
		position relative
		margin-bottom 15px
		font-family: $base-font
		color: $c_black
		font-size: 15px
		line-height 22px
		font-weight 700
		border-top: 1px solid $c_moon-bg
		border-left none
		border-right none
		border-bottom none
	&__legend
		margin-right 15px
		margin-bottom 5px
		padding-right 15px
	&__select
		font-size 13px
		font-weight 300
	&__form-item
		display -webkit-flex
		display -ms-flex
		display flex
		justify-content: space-between
		align-items: center
		font-size: 16px
		font-weight 400
		color: $c_black
	&__input-field
		width 128px
		height 35px
		padding-left: 20px
		margin-bottom 10px
		line-height 35px
		border-radius: 5px
		font-weight 700
	&__square
		font-family: $base-font
		color #000
		font-size 16px
		font-weight 400
		sup
			margin-left -5px
			font-size 8px
	&__square-value
		display inline-block
		vertical-align bottom
		font-family: $base-font
		font-size: 16px
		margin-left 135px
		padding-right 10px
		font-weight 700
	&__price
		color $c_black
	&__full-price
		display inline-block
		vertical-align top
		margin-left 100px
		padding-right 20px
	&__left-part
		min-width: 50%
	&__right-part
		min-width: 50%
		margin-left 15px
	&__bonus
		min-height 100%
		padding 10px
		border-radius: 10px
		background-color $c_white
		h3
			font-family $h-font
			font-size 16px
			color $c_black
			line-height 30px
			font-weight 700
			text-transform uppercase
		p
			margin-bottom 15px
			font-family $base-font
			font-size 16px
			font-weight 500
		span
			color $c_light-green
			text-transform uppercase
			text-decoration underline
