.lamps-gallery-item
	margin-bottom 20px
	dl
		display -webkit-flex
		display -ms-flex
		display flex
		border-bottom 1px solid $c_moon-bg
	dt
		width 60%
	dt,
	dd
		padding-top 3px
		padding-bottom 3px
