.lamps-gallery-item
	margin-bottom 20px
	&__img-wrapper
		position relative
		box-shadow 0 0 1px 0 rgba(0,0,0,.2)
	&__small-img-wrapper
		display -webkit-flex
		display -ms-flex
		display flex
		justify-content space-between
	&__small-img
		width 138px
		height 70px
		a
			display inline-block
			vertical-align top
			width 138px
			height 70px
	dl
		display -webkit-flex
		display -ms-flex
		display flex
		border-bottom 1px solid $c_moon-bg
	dt
		width 60%
	dt,
	dd
		padding-top 3px
		padding-bottom 3px
	img:hover
		transform scale(1.03)
