.calculator-index
	margin-bottom 20px
	&__header
		margin-bottom 20px
		text-align center
		span
			display inline-block
			vertical-align top
			margin-top -5px
			padding-top 5px
			padding-left 50px
			padding-right 50px
			font-family $base-font
			color $c_grey-text
			font-size 16px
			line-height 20px
			font-style: italic;
			border-top 1px solid $c_grey-text
	&__top-row,
	&__bottom-row
		display -webkit-flex
		display -ms-flex
		display flex
		justify-content: space-around
	&__top-row
		margin-bottom 25px
		padding-bottom 20px
		border-bottom 1px solid #ccc
		section
			position relative
			max-width 45%
			padding-left 150px
			span
				display inline-block
				vertical-align top
				color $c_light-green
				line-height 30px
				font-style: italic
	&__bottom-row
		padding-bottom 20px
		border-bottom 1px solid #ccc
		header
			margin-bottom 20px
	&__img-wrapper
		position absolute
		left 15px
		top calc(50% - 60px)
		width 120px
		height 120px
		background-color #f2f2f2
		border-radius 50%
		border 1px solid rgba(0,0,0,.1)
	&__text
		font-family $base-font
		color $c_left-menu-links
		font-size 16px
		line-height 20px
	&__item
		position relative
		padding-left 20px
		margin-bottom 15px
		&:before
			position: absolute;
			content: '';
			left: 0;
			top: calc(50% - 4px)
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 4px 0 4px 12px;
			border-color: transparent transparent transparent $c_light-green
	&__icon
		position absolute
		left 25px
		top 25px
		fill rgba(0,0,0,.4)
		&_price-tag2
			left 30px
			top 25px
		&_calculator
			left 33px
			top 35px
.blink {
	-webkit-animation: blink1 2s linear infinite;
	 animation: blink1 2s linear infinite;
}
