.calculator-section-index
	margin-bottom 20px
	&__header
		margin-bottom 20px
		text-align center
		h2
			font-family $h-font
			font-size 18px
			color $c_top-menu
			line-height 25px
			font-weight 400
			text-transform uppercase
		span
			font-family $base-font
			color $c_grey-text
			font-size 16px
			line-height 20px
			font-style: italic;
	&__top-row,
	&__bottom-row
		display -webkit-flex
		display -ms-flex
		display flex
		justify-content: space-around
	&__top-row
		margin-bottom 25px
		padding-bottom 20px
		border-bottom 1px solid #ccc
		section
			position relative
			max-width 45%
			padding-left 150px
			h3
				font-family: $h-font
				color: $c_top-menu//$c_black
				font-size: 16px
				line-height: 20px
				font-weight: 700
				// text-transform: uppercase;
			span
				display inline-block
				vertical-align top
				color $c_light-green
				line-height 30px
				font-style: italic
	&__img-wrapper
		position absolute
		left 15px
		top calc(50% - 60px)
		width 120px
		height 120px
		background-color #f2f2f2
		border-radius 50%
		border 1px solid rgba(0,0,0,.1)
	&__text
		font-family $base-font
		color $c_left-menu-links
		font-size 16px
		line-height 20px
	&__item
		position relative
		padding-left 20px
		margin-bottom 15px
		&:before
			position: absolute;
			content: '';
			left: 0;
			top: 3px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 4px 0 4px 12px;
			border-color: transparent transparent transparent $c_light-green
	&__bonus
		max-width 45%
		header
			h3
				font-family: $h-font
				color: $c_black
				font-size: 13px
				line-height: 20px
				font-weight: 700
				text-transform: uppercase;
			p
				padding-top 10px
				padding-bottom 15px
				color $c_light-green
				font-style: italic
				text-transform: uppercase
		span
			font-family: $base-font
			line-height 25px
			&:first-of-type
				color $c_light-green
				text-decoration underline
	&__discount-text
		position relative
		padding-top 90px
		margin-bottom 50px
	&__link
		position relative
		display block
		max-width 300px
		margin-left 100px
		padding-top 15px
		padding-bottom 15px
		color $c_white
		background-color $c_light-green
		text-align center
		border-radius 5px
		box-shadow 0 0 5px 0 rgba(0,0,0,.3)
		cursor pointer
		&:after
			position absolute
			top 100%
			left 0
			content '*мы свяжемся с Вами в течение часа'
			padding-top 8px
			font-size 12px
			color $c_grey-text
		&:hover
			background-color $c_green-hover
		&_discount
			margin-top 20px
	&__icon
		position absolute
		left 25px
		top 25px
		fill rgba(0,0,0,.4)
		&_price-tag2
			left 30px
			top 25px
		&_calculator
			left 33px
			top 35px
		&_percentage2
			left calc(50% - 25px)
		&_motorcycle-with-price-tag
			top calc(50% - 17px)
			left 15px
			fill $c_white
.blink {
	-webkit-animation: blink1 2s linear infinite;
	 animation: blink1 2s linear infinite;
}
@-webkit-keyframes blink1 {
	 0% { color: rgba(34, 34, 34, 1); }
	 50% { color: rgba(34, 34, 34, 0); }
	 100% { color: rgba(34, 34, 34, 1); } }
@keyframes blink1 {
	0% { color: rgba(83, 191, 107, 1); }
	50% { color: rgba(83, 191, 107, .1); }
	100% { color: rgba(83, 191, 107, 1); } }
