.page-header
	// background: $c_icon-menu//
	&__top-line
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 25px
		padding-top: 20px
	&__map
		position relative
		padding-left: 40px
		font-family: $base-font
		font-size: 14px
		color: $c_grey-text
		font-style: italic;
	&__icon_placeholder
		left 0
		top: calc(50% - 15px)
		fill: rgba(0, 0, 0, 0.2);
