include /blocks/slider/slider
include /blocks/icon-menu/icon-menu
include /blocks/breadcrumbs/breadcrumbs
include /blocks/side-menu/side-menu
include /blocks/icon/icon
include /blocks/stapel/stapel

mixin main()
	+b.MAIN.page-content
		+e.inner.container
			+slider
			+icon-menu
			+b.breadcrumbs&attributes(attributes)
				+e.inner.container
					+e.UL.list
						+e.LI.item
							+e.A.link.link(href='index.html') Главная
						+e.LI.item
							+e.A.link._active.link Тканевые натяжные потолки DESCOR
			+e.main-content-wrapper.container
				+side-menu
				+b.ARTICLE.content
					+e.H1.title.heading._h1 Тканевые натяжные потолки DESCOR (Германия)
					+e.P.text
						img(src='assets/images/descor/descor_fon.jpg' width='370' height='245' alt='descor' style='float:left; margin-right:15px;')
						|Немецкая компания PONGS изготавливает полотна для тканевых натяжных потолков и драпировки стен под торговой маркой DESCOR. Немецкий натяжной потолок ДЕСКОР относится к категории премиум класса, соответствует европейским показателям качества, экологически безопасен и надежен в эксплуатации.
					+e.P.text Технология производства полотен постоянно модернизируется, разрабатываются новые фактуры, текстуры, ширины. Дизайнеры получают неограниченные возможности для реализации своих идей, а клиенты экологичность, пожаробезопасность, надежность и красоту потолочных конструкций с гарантийным сроком эксплуатации более 20 лет.
					+e.P.text Натяжные потолки DESCOR по составу, свойствам и технике монтажа ничем не отличаются от 
						a(href='clipso-frantsiya-tkan.html') потолков марки CLIPSO (Франция). 
						|Но стоимость тканевых натяжных потолков ДЕСКОР значительно ниже цены CLIPSO, при равнозначной цене комплектующих и монтажных работ.
					+e.P.text
						a.link.descor-catalog__link(href='assets/images/descor/montag_descor_potoloc.jpg')
							img(src='assets/images/descor/montag_descor_potoloc.jpg' width='370' height='270' alt='пример descor' style='float:right; margin-left:5px;')
						span Состав. 
						|Основа полотна - это трикотаж сложного переплетения (запатентованное название Trevira CS). Полотно состоит из 100% полиэстера и пропитано полиуретаном. В составе сырья нет опасных для здоровья человека соединений, поэтому потолки DESCOR можно устанавливать в медицинских учреждениях не исключая операционные и кабинеты переливания крови.
					+e.P.text
						span Внешний вид. 
						|Тканевые полотна имеют гладкую однородную матовую поверхность, отдельно выделены полотна с блестками. Рисунок лицевой поверхности - косичка с одинаковой плотностью петель в любом направлении и равномерным переплетением нитей.
					+b.SECTION.descor-advantages
						+e.H2.title.heading._h2 Преимущества натяжных потолков ДЕСКОР
						+e.UL.list
							+e.item обладают высокой механической прочностью, в десятки раз превышающей прочность 
								a(href='pongs-germaniya-pvkh.html') потолков из ПВХ пленки;
							+e.item не поддерживают горение, устойчивы к воспламенению;
							+e.item полотно практически не растягивается как в продольном, так и в поперечном направлении, что исключает вероятность его провисания;
							+e.item белые полотна не теряют первоначальную белизну, а цветные не выгорают при воздействии ультрафиолетовых лучей;
							+e.item возможна установка в неотапливаемых помещениях с пониженными температурами (дачи, загородные дома, лоджии, балконы, веранды);
							+e.item структура полотна имеет микропоры, которые позволяют пропускать воздух. Непрерывная циркуляция воздуха препятствует распространению плесени и грибка в межпотолочном пространстве;
							+e.item полотно не впитывает влагу, не скапливает конденсат на своей поверхности, не притягивает пыль.
					+e.ARTICLE.catalog-descor
						header
							h2.heading.heading_h2 Каталог тканевых натяжных полотен D-Premium
						section
							img(src='assets/images/descor/deccor_clasic.jpg' width='350' height='200')
							h3.heading.heading_h3 Descor Premium/Классические
							+e.P.text Коллекция представлена оттенками двух видов (белый холодный и белый теплый). Белые оттенки натяжного потолка служат прекрасной основой для интерьера в любом стиле.
						section
							img(src='assets/images/descor/blestki_potoloc.jpg' width='350' height='200')
							h3.heading.heading_h3 Descor Alupigment/Блестящие
							+e.P.text Полотна с эффектом блеска. В линии продуктов 4 цвета серебристый, бежевый, голубой и чёрный. Коллекция является по-настоящему уникальной и не имеет аналогов среди потолков из ПВХ пленки.
						section
							img(src='assets/images/descor/white_potoloc.jpg' width='350' height='200')
							h3.heading.heading_h3 Descor Akustic/Акустические
							+e.P.text Основная функция: декорирование потолка и стен с их акустической изоляцией. Поглощение звука на 50-60% при условии монтажа натяжной конструкции на 15-30 см от базовой плоскости. Линейка продуктов показана черным и белым текстилем, с нанесенным на внутреннюю сторону звукоизоляционным материалом.
						section
							img(src='assets/images/descor/color_descor.jpg' width='350' height='200')
							h3.heading.heading_h3 Descor Color/Цветные
							+e.P.text Доступно более 25 позиций цветовых вариантов по каталогу. Разнообразие палитры позволяет реализовать любые творческие идеи дизайнера. Материал часто используется для установки натяжных стен и двухуровневых потолков с комбинированием цветов.
					+e.SECTION.features-descor
						h2.heading.heading_h2 Характеристика полотен DESCOR
						table
							tr
								td Материал
								td 100% PES-FR пропитан полимером полиуретаном
							tr
								td Вес, г/м.кв
								td 245+-5%
							tr
								td Толщина, мм
								td 0.32-0.39
							tr
								td Ширина рулона/размеры полотен, см
								td 3.1; 3.5; 4.1; 4.5; 5.05
							tr
								td Способ монтажа
								td холодная установка (не используется тепловая пушка)
							tr
								td Температурный режим эксплуатации
								td -40 до +70 С
							tr
								td Возможность нанесения фотопечати
								td Ультрафиолетовая, экосольвентная
					+e.P.text
						|Рассчитать стоимость тканевого натяжного потолка в Минске с установкой «под ключ» Вы можете используя 
						a(href='index.html#go-to-calc') онлайн калькулятор. 
						|Официальный сайт
						a(href='http://pongs.com/') http://pongs.com/
