.work-mode
	box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.1);
	&__inner
		text-align: center
	&__content
		font-family: $base-font
		font-size: 14px
		line-height: 25px
		text-transform: uppercase
		color: #000
		b
			color: #e78724
			font-style: italic
