include /blocks/top-menu-dropdown/top-menu-dropdown
include /blocks/contact-dropdown/contact-dropdown
mixin top-menu()
	+b.NAV.top-menu&attributes(attributes)
		+e.P.phone-block
			a(href='tel:+375298242121')
				span +375(29) 
				|824-21-21
			a(href='tel:+375447792121')
				span +375(44) 
				|779-21-21
		+e.inner.container
			+e.UL.list
				+e.LI.item
					+e.A.link._catalog.link( title='каталог') каталог
					+top-menu-dropdown
				+e.LI.item
					+e.A.link._palette.link(href='#' title='палитра') палитра
					+e.dropdown-narrow._palette
						ul
							li
								a.link(href='') Каталог цветов
							li
								a.link(href='') Конструктор потолков
				+e.LI.item
					+e.A.link._portfolio.link(href='#' title='портфолио') портфолио
				+e.LI.item
					+e.A.link._prices.link(href='#' title='цены') цены
				+e.LI.item
					+e.A.link._discounts.link(href='aktsii-skidki.html' title='скидки') акции-скидки
				+e.LI.item
					+e.A.link._faq.link(href='vopros-otvet.html' title='вопрос-ответ') вопрос-ответ
				+e.LI.item
					+e.A.link._contacts.link(title='контакты') контакты
					+contact-dropdown
					
