include /blocks/top-menu-dropdown/top-menu-dropdown
include /blocks/contact-dropdown/contact-dropdown
mixin top-menu()
	+b.NAV.top-menu&attributes(attributes)
		+e.P.phone-block
			a(href='') +375(29)3214562
			a(href='') +375(44)5342173
		+e.inner.container
			+e.UL.list
				+e.LI.item
					+e.A.link._catalog._active.link(href='#' title='каталог') каталог
					+top-menu-dropdown
				+e.LI.item
					+e.A.link._palette._active.link(href='#' title='палитра') палитра
					+e.dropdown-narrow._palette
						ul
							li
								a.link(href='') Каталог цветов
							li
								a.link(href='') Конструктор потолков
				+e.LI.item
					+e.A.link._active.link(href='#' title='портфолио') портфолио
				+e.LI.item
					+e.A.link._prices._active.link(href='#' title='цены') цены
				+e.LI.item
					+e.A.link._active.link(href='#' title='скидки') акции-скидки
				+e.LI.item
					+e.A.link._active.link(href='#' title='вопрос-ответ') вопрос-ответ
				+e.LI.item
					+e.A.link._contacts._active.link(href='#' title='контакты') контакты
					+contact-dropdown
					
