mixin top-menu()
	+b.NAV.top-menu&attributes(attributes)
		+e.inner.container
			+e.UL.list
				+e.LI.item
					+e.A.link._catalog._active.link(href='#' title='каталог') каталог
				+e.LI.item
					+e.A.link._palette._active.link(href='#' title='палитра') палитра
				+e.LI.item
					+e.A.link._active.link(href='#' title='портфолио') портфолио
				+e.LI.item
					+e.A.link._prices._active.link(href='#' title='цены') цены
				+e.LI.item
					+e.A.link._active.link(href='#' title='скидки') акции-скидки
				+e.LI.item
					+e.A.link._active.link(href='#' title='вопрос-ответ') вопрос-ответ
				+e.LI.item
					+e.A.link._contacts._active.link(href='#' title='контакты') контакты

