.top-menu
	position relative
	background-color: $c_top-menu
	box-shadow: 0 1px 10px rgba(0,0,0,0.25),inset 0 -1px rgba(255,255,255,0.3);
	&__list
		display: flex
		justify-content: space-around
	&__item
		&:hover > div
			visibility visible
			opacity 1
	&__link
		position relative
		display: inline-block
		vertical-align: middle
		padding-top 17px
		padding-bottom 17px
		padding-left 5px
		padding-right 5px
		font-family: $base-font
		font-size: 13px
		color: $c_white
		font-weight: 500
		text-transform: uppercase
		letter-spacing: 1px
		&:after
			position absolute
			content: ''
			bottom 10px
			left 0
			width 0
			height: 3px
			background-color $c_light-green
		&:hover:after
			width 100%
			transition width .3s
	&__dropdown-narrow
		position absolute
		top 100%
		padding-top 10px
		padding-bottom 20px
		z-index 20
		visibility hidden
		opacity 0
		background-color #3e4753//$c_footer
		transition all .2s cubic-bezier(0.9,.1,.1,.9)
		.link
			display inline-block
			vertical-align top
			padding-top 5px
			padding-bottom 5px
			padding-left 5px
			padding-right 5px
			font-family $base-font
			font-size 14px
			color $c_white
			line-height 16px
.sticky-menu
	position fixed
	top 0
	margin 0 auto
	width 100%
