.top-menu
	background-color: $c_yellow-menu
	border-top: 1px solid rgba(0,0,0, .2)
	border-bottom: 1px solid rgba(0,0,0, .2)
	&__list
		display: flex
		justify-content: space-around
	&__link
		display: inline-block
		vertical-align: middle
		padding: 17px 30px
		font-family: $base-font
		font-size: 13px
		color: #fff
		text-transform: uppercase
		letter-spacing: 1px
		//text-shadow: 0 0  1px rgba(0,0,0,.6)
		&:hover
			background-color: $c_yellow-menu-hover

