include /blocks/footer-menu/footer-menu
include /blocks/footer-logo/footer-logo
include /blocks/socials/socials
include /blocks/footer-call-us/footer-call-us
include /blocks/footer-call-back/footer-call-back

mixin footer()
	+b.FOOTER.page-footer&attributes(attributes)
		+e.inner.container
			+footer-menu
			+e.head-line
				+e.part._left
					+e.P.text 
						a(href='index.html')
							span Overtina.by
							|&nbsp - натяжные потолки 
							br
							|в Минске и Минской области.
							br
						УНП 691175627
					p Все права защищены
					p Copyright 2016
					+e.A.link._site-map(href='#') Карта сайта
				+e.part._center
					+footer-logo
					+socials
				+e.part._right
					+footer-call-back
					+footer-call-us
					+e.A.link._mail.link(href='mailto:overtina@tut.by') overtina@tut.by
						+svg('mail',30,35)
						
