.page-footer
	background-color: $c_footer
	color: $c_footer-color
	padding: 25px 0
	&__inner
		display: flex
		justify-content: space-between
	&__center-part
		display: flex
		flex-direction: column
		align-items: center
	&__right-part
		text-align: right
	&__mail
		font-family: $base-font
		font-size: 16px
		color: $c_footer-yellow
