include /blocks/footer-menu/footer-menu
include /blocks/footer-logo/footer-logo
include /blocks/socials/socials
include /blocks/footer-call-us/footer-call-us
include /blocks/footer-call-back/footer-call-back

mixin footer()
	+b.FOOTER.page-footer&attributes(attributes)
		+e.inner.container
			+e.head-line
				+e.part._left
					+footer-menu
				+e.part._center
					+footer-logo
					+socials
				+e.part._right
					+footer-call-back
					+footer-call-us
					+e.A.link._mail.link(href='mailto:overtina@tut.by') overtina@tut.by
						+svg('mail',25,25)
		+e.bottom-line
			p Copyright 2016. Все права защищены
