.photo-gallery
	margin-bottom: 20px
	&__list
		display: flex
		flex-flow: row wrap
	&__item
		margin: 0 0 20px 20px
		&:nth-child(n+9)
			display: none
	&__title
		margin-bottom: 10px;
		font-family: $h-font
		color: $c_top-menu
		font-size: 16px;
		line-height: 30px;
		font-weight: 400;
		text-transform: uppercase;
