mixin photo-gallery(title)
	+b.SECTION.photo-gallery&attributes(attributes)
		+e.inner
			+e.H3.title #{title}
			+e.UL.list
				+e.LI.item
					+e.A.link
						img(src='http://placehold.it/200x200')
				+e.LI.item
					+e.A.link
						img(src='http://placehold.it/200x200')
				+e.LI.item
					+e.A.link
						img(src='http://placehold.it/200x200')
				+e.LI.item
					+e.A.link
						img(src='http://placehold.it/200x200')
				+e.LI.item
					+e.A.link
						img(src='http://placehold.it/200x200')
				+e.LI.item
					+e.A.link
						img(src='http://placehold.it/200x200')
				+e.LI.item
					+e.A.link
						img(src='http://placehold.it/200x200')
				+e.LI.item
					+e.A.link
						img(src='http://placehold.it/200x200')
				+e.LI.item
					+e.A.link
						img(src='http://placehold.it/200x200')
				+e.LI.item
					+e.A.link
						img(src='http://placehold.it/200x200')
				+e.LI.item
					+e.A.link
						img(src='http://placehold.it/200x200')
			+e.A.show-more Смотреть еще
			
