mixin photo-gallery()
	+b.SECTION.photo-gallery&attributes(attributes)
		+e.inner
			+e.UL.list
				+e.LI.item
					+e.A.link
						img(src='http://placehold.it/250x250')
				+e.LI.item
					+e.A.link
						img(src='http://placehold.it/250x250')
				+e.LI.item
					+e.A.link
						img(src='http://placehold.it/250x250')
				+e.LI.item
					+e.A.link
						img(src='http://placehold.it/250x250')
				+e.LI.item
					+e.A.link
						img(src='http://placehold.it/250x250')
				+e.LI.item
					+e.A.link
						img(src='http://placehold.it/250x250')
				+e.LI.item
					+e.A.link
						img(src='http://placehold.it/250x250')
				+e.LI.item
					+e.A.link
						img(src='http://placehold.it/250x250')
				+e.LI.item
					+e.A.link
						img(src='http://placehold.it/250x250')
			+e.A.show-more(href='#') Смотреть еще
			
