.photo-gallery
	padding-top 20px
	padding-bottom 20px
	border-top 2px solid $c_white
	background-color #f5f5f5
	&__inner
		// display -webkit-flex
		// display -ms-flex
		// display flex
		// flex-direction: column;
		padding-top 20px
	&__list
		display: flex
		flex-wrap wrap
		// justify-content: space-between;
		margin 0 auto
		max-width 860px
	&__item
		margin-right 20px
		margin-bottom 20px
		&:nth-child(4n)
			margin-right 0
		&:nth-child(n+9)
			display: none
	&__title
		margin-bottom: 20px;
		text-align center
	&__image
		min-height 170px
	&__show-more
		display block
		font-size 18px
		text-align center
