mixin reviews()
	+b.SECTION.reviews&attributes(attributes)
		+e.inner.container
			+e.P.title.heading._h2 Отзывы наших клиентов
			+e.UL.reviews-list.js-slick(data-slick='{"slidesToShow": 4, "slidesToScroll": 1}')
				+e.LI.item
					+e.BLOCKQUOTE.blockquote
						+e.CITE.user-name Андрей
						+e.user-address улица Притыцкого
						+e.P.user-review у меня квартира-студия и они приехали и сделали мне потолок. И больно:)
							| приехали и сделали мне потолок приехали и сделали мне потолок приехали и сделали мне потолок
						+e.img-wrapper
							img(src="http://placehold.it/250x150", alt="")
				+e.LI.item
					+e.BLOCKQUOTE.blockquote
						+e.CITE.user-name Андрей
						+e.user-address улица Притыцкого
						+e.P.user-review у меня квартира-студия и они приехали и сделали мне потолок. И больно:)
						+e.img-wrapper
							img(src="http://placehold.it/250x150", alt="")
				+e.LI.item
					+e.BLOCKQUOTE.blockquote
						+e.CITE.user-name Андрей
						+e.user-address улица Притыцкого
						+e.P.user-review у меня квартира-студия и они приехали и сделали мне потолок. И больно:)
						+e.img-wrapper
							img(src="http://placehold.it/250x150", alt="")
				+e.LI.item
					+e.BLOCKQUOTE.blockquote
						+e.CITE.user-name Андрей
						+e.user-address улица Притыцкого
						+e.P.user-review у меня квартира-студия и они приехали и сделали мне потолок. И больно:)
						+e.img-wrapper
							img(src="http://placehold.it/250x150", alt="")
				+e.LI.item
					+e.BLOCKQUOTE.blockquote
						+e.CITE.user-name Андрей
						+e.user-address улица Притыцкого
						+e.P.user-review у меня квартира-студия и они приехали и сделали мне потолок. И больно:)
						+e.img-wrapper
							img(src="http://placehold.it/150x150", alt="")
				+e.LI.item
					+e.BLOCKQUOTE.blockquote
						+e.CITE.user-name Андрей
						+e.user-address улица Притыцкого
						+e.P.user-review у меня квартира-студия и они приехали и сделали мне потолок. И больно:)
						+e.img-wrapper
							img(src="http://placehold.it/150x150", alt="")
				+e.LI.item
					+e.BLOCKQUOTE.blockquote
						+e.CITE.user-name Андрей
						+e.user-address улица Притыцкого
						+e.P.user-review у меня квартира-студия и они приехали и сделали мне потолок. И больно:)
						+e.img-wrapper
							img(src="http://placehold.it/150x150", alt="")
