.reviews
	background-color $c_light-grey
	&__inner
		padding-top 5px
		padding-bottom 30px
	&__title
		padding-bottom 20px
		text-align center
.reviews-list
	&__blockquote
		margin-bottom 5px
		// box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
		position relative
		max-width 270px
		min-height 380px
		padding 10px
		background-color $c_white
		box-shadow: 7px 10px 6px -5px rgba(0,0,0,.2);
		// &:before,
		// &:after
		// 	content:"";
		// 	position:absolute;
		// 	z-index:-1;
		// 	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
		// 	-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
		// 	box-shadow:0 0 20px rgba(0,0,0,0.8);
		// 	top:0;
		// 	bottom:0;
		// 	left:10px;
		// 	right:10px;
		// 	-moz-border-radius:100px / 10px;
		// 	border-radius:100px / 10px;
		// &:after
		// 	// right:10px;
		// 	left:auto;
		// 	-webkit-transform:skew(8deg) rotate(3deg);
		// 	-moz-transform:skew(8deg) rotate(3deg);
		// 	-ms-transform:skew(8deg) rotate(3deg);
		// 	-o-transform:skew(8deg) rotate(3deg);
		// 	transform:skew(8deg) rotate(3deg);
	&__user-name
		margin-bottom 5px
		font-size 18px
	&__user-address
		margin-bottom 5px
		color $c_grey-text
		font-style italic
		text-decoration underline
	&__user-review
		margin-bottom 10px
	&__img-wrapper
		position absolute
		left 10px
		bottom 10px
	.slick-list
		padding-left 15px
