.footer-call-back
	&__inner
		text-align: right
		margin-bottom: 10px
	&__link
		position relative
		display: block
		padding-top: 14px
		padding-bottom: 12px
		padding-left: 20px
		padding-right: 20px
		color: $c_white
		font-family: $base-font
		font-size: 14px
		font-weight: 400
		line-height: 16px
		border-radius: 5px
		text-transform: uppercase
		border: 2px solid #53bf6b//$c_green-soft
		&:hover
			border: 2px solid $c_green-soft
