mixin price-ceilings()
	+b.ARTICLE.price-ceilings&attributes(attributes)
		+e.inner.container
			+e.HEADER.header
				h2.heading.heading_h2 купить натяжной потолок в Минске
				p Специалисты нашей компании осуществляют монтаж натяжных потолков и стен способами холодной и горячей установки.
					br
					| Компетентность каждого специалиста на всех этапах от замера до монтажа дает гарантию, что потолок не провиснет со временем и его целостность будет обеспечена.
			+e.UL.list
				+e.LI.item
					+e.img-wrapper
						img(src="http://placehold.it/370x200", alt="")
					+e.item-info
						+e.item-title.heading._h3 Матовый натяжной потолок в гостиную 17м
							sup 2
						+e.item-price 236.2 BYN
						span с установкой
						+e.btn-wrapper
							+e.A.calculate.link(href='#') Подробный расчет
							+e.A.buy.link(href='#') Купить
								+svg('basket', 20,20)
				+e.LI.item
					+e.img-wrapper
						img(src="http://placehold.it/370x200", alt="")
					+e.item-info
						+e.item-title.heading._h3 Матовый натяжной потолок в гостиную 17м
							sup 2
						+e.item-price 236.2 BYN
						span с установкой
						+e.btn-wrapper
							+e.A.calculate.link(href='#') Подробный расчет
							+e.A.buy.link(href='#') Купить
								+svg('basket', 20,20)
				+e.LI.item
					+e.img-wrapper
						img(src="http://placehold.it/370x200", alt="")
					+e.item-info
						+e.item-title.heading._h3 Матовый натяжной потолок в гостиную 17м
							sup 2
						+e.item-price 236.2 BYN
						span с установкой
						+e.btn-wrapper
							+e.A.calculate.link(href='#') Подробный расчет
							+e.A.buy.link(href='#') Купить
								+svg('basket', 20,20)
			+e.A.all-prices.link(href='#') Смотреть все предложения
					