mixin side-menu()
	+b.ASIDE.side-menu&attributes(attributes)
		+e.inner
			+e.SECTION.ceilings
				+e.UL.list
					+e.LI.item
						+e.B.title Натяжные потолки
					+e.LI.item
						+e.A.link.link(href='#') Матовые
					+e.LI.item
						+e.A.link.link(href='#') Сатиновые
					+e.LI.item
						+e.A.link.link(href='#') Глянцевые
					+e.LI.item
						+e.A.link.link(href='#') Тканевые
					+e.LI.item
						+e.A.link.link(href='#') Фотопечать
					+e.LI.item
						+e.A.link.link(href='#') Двухуровневые
					+e.LI.item
						+e.A.link.link(href='#') Портфолио работ
			+e.SECTION.materials
				+e.UL.list
					+e.LI.item
						+e.B.title Материалы
					+e.LI.item
						+e.A.link.link(href='#') Pongs Германия ПВХ
					+e.LI.item
						+e.A.link.link(href='#') MSD Китай ПВХ
					+e.LI.item
						+e.A.link.link(href='#') Clipso Франция ткань
					+e.LI.item
						+e.A.link.link(href='#') Descor Германия ткань
					+e.LI.item
						+e.A.link.link(href='#') Сертификаты
			+e.SECTION.goods
				+e.UL.list
					+e.LI.item
						+e.B.title Сопутствующие товары
					+e.LI.item
						+e.A.link.link(href='#') Натяжные стены
					+e.LI.item
						+e.A.link.link(href='#') Картины с фотопечатью
					+e.LI.item
						+e.A.link.link(href='#') Карнизы
					+e.LI.item
						+e.A.link.link(href='#') Светильники
			+e.SECTION.recomendation
				+e.UL.list
					+e.LI.item
						+e.B.title Рекомендации по выбору потолков
					+e.LI.item
						+e.A.link.link(href='#') Гостинная или спальня
					+e.LI.item
						+e.A.link.link(href='#') Кухня
					+e.LI.item
						+e.A.link.link(href='#') Детская
					+e.LI.item
						+e.A.link.link(href='#') Коридор
