mixin side-menu()
	+b.ASIDE.side-menu&attributes(attributes)
		+e.inner
			+e.SECTION.ceilings
				+e.UL.list
					+e.LI.item
						+e.B.title Натяжные потолки
					+e.LI.item
						+e.A.link.link(href='#') Матовые
					+e.LI.item
						+e.A.link.link(href='#') Глянцевые
					+e.LI.item
						+e.A.link._active.link(href='#') Сатиновые
					+e.LI.item
						+e.A.link.link(href='#') Тканевые
					+e.LI.item
						+e.A.link.link(href='#') Одноуровневые
					+e.LI.item
						+e.A.link.link(href='#') Двухуровневые
					+e.LI.item
						+e.A.link.link(href='#') Фотопечать
					+e.LI.item
						+e.A.link.link(href='#') Комбинированные
					+e.LI.item
						+e.A.link.link(href='#') Парящие линии
					+e.LI.item
						+e.A.link.link(href='#') С подсветкой
			+e.SECTION.materials
				+e.UL.list
					+e.LI.item
						+e.B.title Материалы
					+e.LI.item
						+e.A.link.link(href='#') Pongs Германия ПВХ
					+e.LI.item
						+e.A.link.link(href='#') MSD Китай ПВХ
					+e.LI.item
						+e.A.link.link(href='#') Clipso Франция ткань
					+e.LI.item
						+e.A.link.link(href='#') Descor Германия ткань
			+e.SECTION.goods
				+e.UL.list
					+e.LI.item
						+e.B.title Сопутствующие товары
					+e.LI.item
						+e.A.link.link(href='#') Светильники
					+e.LI.item
						+e.A.link.link(href='#') Карнизы
					+e.LI.item
						+e.A.link.link(href='#') Фотокартины
					+e.LI.item
						+e.A.link.link(href='#') Фотостены
			+e.SECTION.recomendation
				+e.UL.list
					+e.LI.item
						+e.B.title Рекомендации по выбору
					+e.LI.item
						+e.A.link.link(href='#') На кухне
					+e.LI.item
						+e.A.link.link(href='#') В ванной
					+e.LI.item
						+e.A.link.link(href='#') В детской
					+e.LI.item
						+e.A.link.link(href='#') В спальне
					+e.LI.item
						+e.A.link.link(href='#') В гостиной 
					+e.LI.item
						+e.A.link.link(href='#') В коридоре
