mixin promo()
	+b.SECTION.promo&attributes(attributes)
		+e.inner.container
			+e.HEADER.header
				+e.H2.title Натяжные потолки в Минске от компании "Overtina"
				+e.P.text &nbspСпециалисты нашей компании осуществляют монтаж потолков и стен способом холодной и горячей установки.
					br
					|&nbspКомпетентность каждого специалиста на всех этапах от замера до монтажа дает гарантию,
					|что потолок не провиснет со временем и будет обеспечена его целостность
			+e.wrapper
				+e.ARTICLE.item-box
					+e.img-wrapper
						+e.IMG.image.image(src='http://placehold.it/370x150')
					+e.H3 Тканевые натяжные потолки
					+e.UL.list
						+e.LI.item являются самыми прочными и экологически чистыми;
						+e.LI.item монтируются способом холодной установки. Полотно заправляется в крепежный профиль
							|и натягивается без нагрева тепловой пушкой;
						+e.LI.item отсутствует необходимость точного раскроя полотна на производстве;
						+e.LI.item используются в помещениях с диапазоном температур от -40 до +60 
							sup
								small 0
							|C.
					+e.A.link.link(href='') Подробнее...
				+e.ARTICLE.item-box
					+e.img-wrapper
						+e.IMG.image.image(src='http://placehold.it/370x150')
					+e.H3 Потолки из пленки ПВХ
					+e.UL.list
						+e.LI.item монтируются горячим способом установки с равномерным разогревом полотна выше 65 градусов газовой тепловой пушкой;
						+e.LI.item не используются в помещениях с высокими температурными показателями микроклимата, а также
							|в неотапливаемых помещениях с понижением температуры ниже нуля;
						+e.LI.item требуют точного раскроя на производстве с привариванием гарпуна.
					+e.A.link.link(href='') Подробнее...
				+e.ARTICLE.item-box
					+e.img-wrapper
						+e.IMG.image.image(src='http://placehold.it/370x150')
					+e.H3 Материалы для натяжных потолков
					+e.UL.list
						+e.LI.item для монтажа тканевых потолков используем качественные материалы от европейских производителей мировых брендов: -
							a.link(href='#') CLIPSO 
							| (Франция) и
							a.link(href='#') DESCOR 
							| (Германия);
						+e.LI.item используем пленку ПВХ матовой, сатиновой и глянцевой фактур торговых марок: - 
							a.link(href='#') PONGS 
							| (Германия) и 
							a.link(href='#') MSD 
							| (Китай);
						+e.LI.item сертификат качества международного уровня ISO подтверждает экологическую безопасность и надежность настоящих торговых марок.
