mixin socials()
	+b.socials&attributes(attributes)
		+e.UL.list
			+e.LI.item
				+e.A.link._vk.link(href='#') vk
			+e.LI.item
				+e.A.link._fb.link(href='#') facebook
			+e.LI.item
				+e.A.link._tw.link(href='#') twitter
