
mixin ol()
	+b.SECTION.ol&attributes(attributes)
		+e.inner
			+e.H3 Преимущества натяжных потолков
			+e.OL.list
				+e.LI.item
					span Эффект "твердой" потолочной плоскости.
				+e.LI.item
					span Полное отсутствие ощущения искусственности.
				+e.LI.item
					span Не отражает зеркально предметы мебели, не создает блики.
				+e.LI.item
					span Имеет четкую цветопередачу, поэтому воспринимается освещенным равномерно.
