.ol
	margin-bottom 10px
	h2
		margin-bottom 10px
		font-family: $h-font
		color: $c_top-menu
		font-size: 18px
		line-height: 30px
		font-weight: 400
		text-transform: uppercase
	&__list
		list-style: decimal
		list-style-position: inside
	&__item
		margin-bottom 5px
		span
			padding-left 10px
			font-family: $base-font
			color: $c_text
			font-size: 16px
			line-height: 26px
