.call-us
	&__content
		font-family: $base-font
		font-size 14px
		line-height 25px
		font-weight: 400
		text-transform: uppercase
		color: #000
		b
			color: #e78724
			font-style: italic
	&__link
		color: #000
		span
			font-weight 700



