.call-us
	max-width: 170px
	&__content
		font-family: $base-font
		font-size 14px
		line-height 25px
		font-weight: 700
		//text-transform: uppercase
	&__link
		color: #aaa
		span
			color: #000
			font-weight: 700
	&__text
		display inline-block
		vertical-align top
		padding-left 50px
		font-family: $base-font
		color: #aaa
		font-size: 14px
		line-height: 16px
		font-weight: 400
		font-style: italic
