mixin call-us()
	+b.call-us&attributes(attributes)
		+e.P.content
			b Звоните сейчас
			br
			+e.A.link._mts.link(href='tel:+375298242121') +375 29
				span 824-21-21
			br
			+e.A.link._velcom.velcom.link(href='tel:+375447792121') +375 44
				span 779-21-21
