.call-us
	&__content
		font-family: $base-font
		font-size 14px
		line-height 25px
		font-weight: 700
		//text-transform: uppercase
		color: #000
		b
			color: #f60//#e78724
			text-shadow: 0 0  1px rgba(0,0,0,.3)
	&__link
		color: #000
		span
			font-weight 700



