.price
	&__inner
		display -webkit-flex
		display -ms-flex
		display flex
		padding-bottom 15px
	&__title
		padding-top 15px
		padding-bottom 15px
		padding-left 30px
		color $c_black
		font-family $h-font
		font-size 17px
		font-weight 400
		line-height 25px
		text-transform uppercase
		background-color $c_light-grey
	&__img-wrapper
		min-width 450px
	&__small-image-wrapper
		display -webkit-flex
		display -ms-flex
		display flex
		justify-content space-between
	&__info
		display -webkit-flex
		display -ms-flex
		display flex
		flex-direction column
		justify-content: space-between;
	&__info-wrapper
		display -webkit-flex
		display -ms-flex
		display flex
		padding-left 10px
		&:not(:last-of-type)
			border-bottom 1px solid #e1e1e1
		&:last-of-type
			margin-bottom 10px
			dt,dd
				color $c_light-green
				font-weight 700

	&__info-item
		padding-top 8px
		padding-bottom 8px
		font-family $base-font
		font-size 17px
		line-height 22px
		color #494949
		font-weight 400
		&_name
			min-width 110px
			border-right 1px solid #e1e1e1
		&_text
			padding-left 20px
		span
			display inline-block
			vertical-align top
			margin-top -4px
			color $c_black
			font-weight 700
			sup
				font-size 13px
	&__button
		padding-top 15px
		padding-bottom 15px
		padding-left 15px
		padding-right 15px
		margin-left 15px
		font-family $base-font
		color $c_white
		font-size 14px
		line-height 16px
		font-weight 700
		border-radius 5px
		background-color $c_light-green
