include /blocks/slider/slider
include /blocks/icon-menu/icon-menu
include /blocks/breadcrumbs/breadcrumbs
include /blocks/side-menu/side-menu
include /blocks/icon/icon
include /blocks/stapel/stapel

mixin main()
	+b.MAIN.page-content
		+e.inner.container
			+slider
			+icon-menu
			+b.breadcrumbs&attributes(attributes)
				+e.inner.container
					+e.UL.list
						+e.LI.item
							+e.A.link.link(href='index.html') Главная
						+e.LI.item
							+e.A.link._active.link Матовые натяжные потолки
			+e.main-content-wrapper._natyazhnye-potolki-matovye.container
				+side-menu
				+b.ARTICLE.content
					+e.HEADER.header
						+e.H1.title.heading._h1 Матовые натяжные потолки
						+e.P.text Среди фактур натяжных потолков, только белый матовый натяжной потолок может в полной мере передать все достоинства обычного побеленного потолка с его привычной зернистой поверхностью и классическим белым цветом. Но в отличие от побеленных потолков, он никогда не потрескается, не пожелтеет и не заставит убирать горы строительного мусора. 
						+e.P.text При
							em оформлении интерьера в классическом стиле,
							|в центре внимания которого находится массивная мебель и тяжелые гардины с ламбрекенами, матовую фактуру потолка заменить не возможно.
						+e.P.text Матовые натяжные потолки нейтральных оттенков, нашли свое применение и в популярном стиле хай-тек (Hi-Tech). Они прекрасно сочетаются со стеклом, металлом и пластиком, выгодно подчеркивая разность фактур. Характерным для данного стиля является использование
							a(href='natyazhnye-potolki-dvukhurovnevye.html') двухуровневых и многоуровневых 
							|конструкций натяжных потолков простых геометрических форм.
						+e.P.text Используется матовый потолок и в очень строгом стиле современного дизайна – минимализм. Пространственная свобода, простые и точные формы, безупречное чувство меры отличают его от других стилевых решений. Поверхности цельные, совершенные, с точки зрения технологической обработки. Широко применяются здесь одноуровневые бесшовные потолочные конструкции.
						+e.P.text Искусственное освещение представлено скрытой потолочной подсветкой с использованием галогенных и неоновых ламп.
							|Для создания живописного потолочного пространства на матовое полотно наносят 
							|рисунок (
							a(href='natyazhnye-potolki-fotopechat.html') фотопечать
							|). Полученное изображение art-print выглядит насыщенным, ярким, обладает техническим совершенством и четкой цветопередачей.
						+e.P.text В традиционных интерьерах белые матовые натяжные потолки смотрятся благородно, элегантно, и стильно. Белый тон в сочетании с матовой поверхностью воспринимается как нейтральное пространство, сохраняет правильность подачи стиля интерьера, не искажает его восприятие. Не зря считается белоснежный матовый потолок непревзойденной классикой. Он часто используется при оформлении гостиных, детских комнат, спален, офисных помещений и ресторанов.
					+b.gallery&attributes(attributes)
						+e.inner
							+e.H2.title.heading_h2 Примеры наших работ
							+e.top-bar
								+e.H3.name.heading._h3
								+e.SPAN.close.link X
							ul.tp-grid#tp-grid
								li(data-pile='Одноуровневые')
									a(href='/assets/images/pictures/1.jpg')
										img(src='/assets/images/pictures/1.jpg' width='200' height='170')
								li(data-pile='Одноуровневые')
									a(href='/assets/images/pictures/2.jpg')
										img(src='/assets/images/pictures/2.jpg' width='200' height='170')
								li(data-pile='Одноуровневые')
									a(href='/assets/images/pictures/3.jpg')
										img(src='/assets/images/pictures/3.jpg' width='200' height='170')
								li(data-pile='Одноуровневые')
									a(href='/assets/images/pictures/4.jpg')
										img(src='/assets/images/pictures/4.jpg' width='200' height='170')
								li(data-pile='Одноуровневые')
									a(href='/assets/images/pictures/5.jpg')
										img(src='/assets/images/pictures/5.jpg' width='200' height='170')
								li(data-pile='Одноуровневые')
									a(href='/assets/images/pictures/6.jpg')
										img(src='/assets/images/pictures/6.jpg' width='200' height='170')
								li(data-pile='Одноуровневые')
									a(href='/assets/images/pictures/7.jpg')
										img(src='/assets/images/pictures/7.jpg' width='200' height='170')
								li(data-pile='Одноуровневые')
									a(href='/assets/images/pictures/8.jpg')
										img(src='/assets/images/pictures/8.jpg' width='200' height='170')
								li(data-pile='Двухуровневые')
									a(href='/assets/images/pictures/1.jpg')
										img(src='/assets/images/pictures/1.jpg' width='200' height='170')
								li(data-pile='Двухуровневые')
									a(href='/assets/images/pictures/2.jpg')
										img(src='/assets/images/pictures/2.jpg' width='200' height='170')
								li(data-pile='Двухуровневые')
									a(href='/assets/images/pictures/3.jpg')
										img(src='/assets/images/pictures/3.jpg' width='200' height='170')
								li(data-pile='Двухуровневые')
									a(href='/assets/images/pictures/4.jpg')
										img(src='/assets/images/pictures/4.jpg' width='200' height='170')
								li(data-pile='Двухуровневые')
									a(href='/assets/images/pictures/5.jpg')
										img(src='/assets/images/pictures/5.jpg' width='200' height='170')
								li(data-pile='Двухуровневые')
									a(href='/assets/images/pictures/6.jpg')
										img(src='/assets/images/pictures/6.jpg' width='200' height='170')
								li(data-pile='Двухуровневые')
									a(href='/assets/images/pictures/7.jpg')
										img(src='/assets/images/pictures/7.jpg' width='200' height='170')
								li(data-pile='Двухуровневые')
									a(href='/assets/images/pictures/8.jpg')
										img(src='/assets/images/pictures/8.jpg' width='200' height='170')
								li(data-pile='Белые')
									a(href='/assets/images/pictures/1.jpg')
										img(src='/assets/images/pictures/1.jpg' width='200' height='170')
								li(data-pile='Белые')
									a(href='/assets/images/pictures/2.jpg')
										img(src='/assets/images/pictures/2.jpg' width='200' height='170')
								li(data-pile='Белые')
									a(href='/assets/images/pictures/3.jpg')
										img(src='/assets/images/pictures/3.jpg' width='200' height='170')
								li(data-pile='Белые')
									a(href='/assets/images/pictures/4.jpg')
										img(src='/assets/images/pictures/4.jpg' width='200' height='170')
								li(data-pile='Белые')
									a(href='/assets/images/pictures/5.jpg')
										img(src='/assets/images/pictures/5.jpg' width='200' height='170')
								li(data-pile='Белые')
									a(href='/assets/images/pictures/6.jpg')
										img(src='/assets/images/pictures/6.jpg' width='200' height='170')
								li(data-pile='Белые')
									a(href='/assets/images/pictures/7.jpg')
										img(src='/assets/images/pictures/7.jpg' width='200' height='170')
								li(data-pile='Белые')
									a(href='/assets/images/pictures/8.jpg')
										img(src='/assets/images/pictures/8.jpg' width='200' height='170')
