.month-discount
	margin-top 20px
	margin-bottom 20px
	clear both
	&__item:not(:last-child)
		display -webkit-flex
		display -ms-flex
		display flex
	&__wrap
		display -webkit-flex
		display -ms-flex
		display flex
	&__red-discount
		color red
		font-weight 700
