.month-discount
	margin-bottom 20px
	&__img-wrapper
		position relative
		margin-right 5px
		&:before
			position absolute
			bottom 50px
			left -10px
			content '- 15%'
			width 100px
			height 30px
			color $c_white
			text-align center
			line-height 30px
			background-color $c_light-green
		&:after
			position: absolute;
			content: '';
			left: -10px;
			bottom 40px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10px 10px 0;
			border-color: transparent #2f8041 transparent transparent;
	&__inner
		display -webkit-flex
		display -ms-flex
		display flex
	&__discount-text
		width 600px
	&__red-discount
		color red
		font-weight 700
.month-js
	text-transform uppercase
