.page-content
	&__main-content-wrapper
		display flex
.content
	max-width 57.5rem
	box-shadow 2px 2px 5px -3px rgba(0,0,0,.6)
	&__title
		margin-bottom: 10px
	&__text
		margin-bottom 15px
		padding-right 0.625rem
		a
			color $c_orange
			text-decoration: none
			&:hover
				text-decoration underline
		em
			font-style italic
		span
			font-weight 700
