include /blocks/slider/slider
include /blocks/icon-menu/icon-menu
include /blocks/breadcrumbs/breadcrumbs
include /blocks/side-menu/side-menu
include /blocks/icon/icon
include /blocks/ceilings-catalog/ceilings-catalog
include /blocks/stapel/stapel
include /blocks/promo/promo
include /blocks/free-call/free-call
include /blocks/reviews/reviews
include /blocks/calculator-section-index/calculator-section-index

mixin main()
	+b.MAIN.page-content._index
		+e.inner
			+slider
			+icon-menu
			+promo
			+ceilings-catalog
			+calculator-section-index
			+free-call
			+reviews
			+stapel
