include /blocks/slider/slider
include /blocks/icon-menu/icon-menu
include /blocks/breadcrumbs/breadcrumbs
include /blocks/side-menu/side-menu
include /blocks/icon/icon
include /blocks/stapel/stapel
include /blocks/price-ceilings/price-ceilings
include /blocks/list/list

mixin main()
	+b.MAIN.page-content
		+e.inner.container
			+slider
			+icon-menu
			+breadcrumbs('Тканевые натяжные потолки')
			+e.main-content-wrapper
				+side-menu
				+b.ARTICLE.content
					+e.HEADER.header
						+e.H1.title.heading._h1 Тканевые натяжные потолки
						+e.P.text Наша компания использует тканевые полотна для монтажа натяжных потолков и стен торговых марок «Clipso» (Франция) и «Descor» (Германия).
						+e.P.text 
							em Преимущества тканевых натяжных потолков
					+list({block:'block',
									modifier:'tkanevie',
									items:['сохраняют все свои свойства в температурном режиме от -40 до +700С. Это делает тканевые потолки оптимальным вариантом для лоджий и загородных домов;',
												'естественно вписываются в существующий декор и поддерживают любую стилистическую концепцию интерьера;',
												'пропускают воздух, что обосновано переплетением волокон, про них говорят «потолки дышат»;',
												'при монтаже не используется тепловая пушка, способ "холодной" установки;',
												'могут служить основой под покраску водоэмульсионной краской;',
												'ширина полотна более 5м, что позволяет получить бесшовные конструкции потолка.']
								})
					+price-ceilings({title:'ho-ho-ho',
													images:{
														1:'http://placehold.it/290x200',
														2:'http://placehold.it/290x200',
														3:'http://placehold.it/290x200'
														},
														h3:['заголовок1', 'заголовок2', 'заголовок 3м'],
														price:[234.3, 321.6, 534.1]
						})
					+b.gallery&attributes(attributes)
						+e.inner
							+e.H2.title.heading_h2 Примеры наших работ
							+e.top-bar
								+e.H3.name.heading._h3
								+e.SPAN.close.link X
							ul.tp-grid#tp-grid
								li(data-pile='Одноуровневые')
									a(href='/assets/images/pictures/1.jpg')
										img(src='/assets/images/pictures/1.jpg' width='200' height='170')
								li(data-pile='Одноуровневые')
									a(href='/assets/images/pictures/2.jpg')
										img(src='/assets/images/pictures/2.jpg' width='200' height='170')
								li(data-pile='Одноуровневые')
									a(href='/assets/images/pictures/3.jpg')
										img(src='/assets/images/pictures/3.jpg' width='200' height='170')
								li(data-pile='Одноуровневые')
									a(href='/assets/images/pictures/4.jpg')
										img(src='/assets/images/pictures/4.jpg' width='200' height='170')
								li(data-pile='Одноуровневые')
									a(href='/assets/images/pictures/5.jpg')
										img(src='/assets/images/pictures/5.jpg' width='200' height='170')
								li(data-pile='Одноуровневые')
									a(href='/assets/images/pictures/6.jpg')
										img(src='/assets/images/pictures/6.jpg' width='200' height='170')
								li(data-pile='Одноуровневые')
									a(href='/assets/images/pictures/7.jpg')
										img(src='/assets/images/pictures/7.jpg' width='200' height='170')
								li(data-pile='Одноуровневые')
									a(href='/assets/images/pictures/8.jpg')
										img(src='/assets/images/pictures/8.jpg' width='200' height='170')
								li(data-pile='Двухуровневые')
									a(href='/assets/images/pictures/1.jpg')
										img(src='/assets/images/pictures/1.jpg' width='200' height='170')
								li(data-pile='Двухуровневые')
									a(href='/assets/images/pictures/2.jpg')
										img(src='/assets/images/pictures/2.jpg' width='200' height='170')
								li(data-pile='Двухуровневые')
									a(href='/assets/images/pictures/3.jpg')
										img(src='/assets/images/pictures/3.jpg' width='200' height='170')
								li(data-pile='Двухуровневые')
									a(href='/assets/images/pictures/4.jpg')
										img(src='/assets/images/pictures/4.jpg' width='200' height='170')
								li(data-pile='Двухуровневые')
									a(href='/assets/images/pictures/5.jpg')
										img(src='/assets/images/pictures/5.jpg' width='200' height='170')
								li(data-pile='Двухуровневые')
									a(href='/assets/images/pictures/6.jpg')
										img(src='/assets/images/pictures/6.jpg' width='200' height='170')
								li(data-pile='Двухуровневые')
									a(href='/assets/images/pictures/7.jpg')
										img(src='/assets/images/pictures/7.jpg' width='200' height='170')
								li(data-pile='Двухуровневые')
									a(href='/assets/images/pictures/8.jpg')
										img(src='/assets/images/pictures/8.jpg' width='200' height='170')
								li(data-pile='Белые')
									a(href='/assets/images/pictures/1.jpg')
										img(src='/assets/images/pictures/1.jpg' width='200' height='170')
								li(data-pile='Белые')
									a(href='/assets/images/pictures/2.jpg')
										img(src='/assets/images/pictures/2.jpg' width='200' height='170')
								li(data-pile='Белые')
									a(href='/assets/images/pictures/3.jpg')
										img(src='/assets/images/pictures/3.jpg' width='200' height='170')
								li(data-pile='Белые')
									a(href='/assets/images/pictures/4.jpg')
										img(src='/assets/images/pictures/4.jpg' width='200' height='170')
								li(data-pile='Белые')
									a(href='/assets/images/pictures/5.jpg')
										img(src='/assets/images/pictures/5.jpg' width='200' height='170')
								li(data-pile='Белые')
									a(href='/assets/images/pictures/6.jpg')
										img(src='/assets/images/pictures/6.jpg' width='200' height='170')
								li(data-pile='Белые')
									a(href='/assets/images/pictures/7.jpg')
										img(src='/assets/images/pictures/7.jpg' width='200' height='170')
								li(data-pile='Белые')
									a(href='/assets/images/pictures/8.jpg')
										img(src='/assets/images/pictures/8.jpg' width='200' height='170')
