include /blocks/slider/slider
include /blocks/icon-menu/icon-menu
include /blocks/breadcrumbs/breadcrumbs
include /blocks/side-menu/side-menu
include /blocks/icon/icon
include /blocks/photo-gallery/photo-gallery
include /blocks/price-ceilings/price-ceilings
include /blocks/list/list

mixin main()
	+b.MAIN.page-content
		+e.inner.container
			+slider
			+icon-menu
			+breadcrumbs('Тканевые натяжные потолки')
			+e.main-content-wrapper.container
				+side-menu
				+b.ARTICLE.content._fabric-ceiling
					+e.HEADER.header
						+e.H1.title.heading._h1 Тканевые натяжные потолки
						+e.P.text Наша компания использует тканевые полотна для монтажа натяжных потолков и стен торговых марок «Clipso» (Франция) и «Descor» (Германия).
						+e.P.text 
							em Преимущества тканевых натяжных потолков
					+list({block:'block',
									modifier:'tkanevie',
									items:['сохраняют все свои свойства в температурном режиме от -40 до +70С. Это делает тканевые потолки оптимальным вариантом для лоджий и загородных домов;',
												'естественно вписываются в существующий декор и поддерживают любую стилистическую концепцию интерьера;',
												'пропускают воздух, что обосновано переплетением волокон, про них говорят «потолки дышат»;',
												'при монтаже не используется тепловая пушка, способ "холодной" установки;',
												'могут служить основой под покраску водоэмульсионной краской;',
												'ширина полотна более 5м, что позволяет получить бесшовные конструкции потолка.']
								})
					+b.SECTION.fabric-ceiling
						+e.title.heading._h2 Бесшовные тканевые натяжные потолки в Минске
						+e.SECTION.section._top
							picture
								img(src="assets/images/clipso/clipso_france.jpg", width='335' height='250' title='clipso Франция' alt="clipso Франция")
							+e.info-wrapper
								h3.heading.heading_h3 Clipso – искусство создавать уют!
								p.text Компания «Clipso» известна во всём мире, её продукция по-настоящему уникальна, и стала настоящим эталоном практичности и красоты.
								p.text Полотна 
									a(href='clipso-frantsiya-tkan.html')французского производителя "Clipso" 
									| обладают прекрасными механическими, эстетическими и эксплуатационными характеристиками.
								p.text 
									em Выбрать полотна "Клипсо" означает получить гарантию высочайшего качества Вашего потолка.
								+e.A.link.link(href='clipso-frantsiya-tkan.html') Подробнее...
						+e.SECTION.section._bottom
							+e.info-wrapper
								h3.heading.heading_h3 Descor – это надёжно!
								p.text Уникальная технология изготовления тканевых потолочных покрытий разработана лучшими европейскими специалистами на заводе PONGS в Германии. Основой 
									a(href='descor-germaniya-tkan.html')бесшовного потолка "Дескор" 
									| служит полотно из полиэстровой ткани (Тревира) сложного трикотажного плетения, покрытое полиуретаном. Descor TREVIRA – обладает антистатичными, водоотталкивающими и пожаробезопасными свойствами, не выгорает на солнце, используется для нанесения фотопечати. 
								+e.A.link.link(href='descor-germaniya-tkan.html') Подробнее...
							picture
								img(src="assets/images/descor/descor_fon.jpg", width='335' height='250' title='descor Германия' alt="descor Германия")
					+b.SECTION.fabric-ceiling-price
						+e.H2.title.heading._h2 Цены на тканевые натяжные потолки от "OVERTINA"
						p.text Наша компания предлагает широкий выбор полотен, профессиональный монтаж и доступные цены на тканевые натяжные потолки в Минске. Наши специалисты имеют большой опыт работы в области установки тканевых натяжных систем. Они выполняют монтажные работы любого уровня сложности качественно и профессионально. Система 
							a(href='aktsii-skidki.html') акций и ценовых скидок 
							| от компании «OVERTINA» делает наши цены еще более привлекательными.
						+b.TABLE.clipso-price&attributes(attributes)
							caption
								h3.heading.heading_h2 Цены на тканевые натяжные потолки "CLIPSO" (Франция)
							tr
								th Торговое название полотна
								th Цвет
								th Ширина, м
								th Цена за 1 м
									sup 2 
									| с установкой, руб
							tr
								td Ткань CLIPSO DECORUM
								td Белый
								td 3.0 - 5.10
								td 
									span Новинка! 
									| от 28.5 руб
							tr
								td Ткань CLIPSO 705S
								td Белый
								td 3.0 - 5.10
								td от 39.9 руб
							tr
								td Ткань CLIPSO 705 Nostain
								td Белый
								td 3.0 - 5.10
								td от 45.6 руб
							tr
								td Ткань CLIPSO 705C
								td Цветной
								td 3.0 - 5.10
								td от 45.6 руб
							tr
								td Ткань CLIPSO 495D акустическая эконом класс
								td Белый
								td 3.0 - 5.10
								td от 31.6 руб
							tr
								td Ткань CLIPSO 705A акустическая
								td Белый
								td 3.0 - 5.10
								td от 47.5 руб
							tr
								td Ткань CLIPSO 705AС акустическая
								td Цветной
								td 3.0 - 5.10
								td от 47.5 руб
							tr
								td Ткань CLIPSO PA металлик
								td Цветной
								td 3.0 - 5.10
								td от 47.5 руб
							tr
								td Ткань CLIPSO 705AB антибактериальная 
								td Белый
								td 3.0 - 5.10
								td от 47.5 руб
							tr
								td Ткань CLIPSO 308Т светопрозрачная 
								td -
								td 3.0 - 5.10
								td от 47.5 руб
					+b.TABLE.descor-price&attributes(attributes)
						caption
							h3.heading.heading_h2 Цены на тканевые натяжные потолки "DESCOR" (Германия)
						tr
							th Торговое название полотна
							th Цвет
							th Ширина, м
							th Цена за 1 м
								sup 2 
								| с установкой, руб
						tr
							td Ткань DESCOR 050
							td Белый холодный
							td 3.10 - 5.05
							td от 28.5 руб
						tr
							td Ткань DESCOR 069
							td Белый теплый
							td 3.10 - 5.05
							td от 28.5 руб
						tr
							td Ткань DESCOR STAR 167
							td Белый блеск
							td 3.10 - 5.05
							td от 45.6 руб
						tr
							td Ткань DESCOR STAR
							td Бежевый блеск
							td 3.10 - 5.05
							td от 45.6 руб
						tr
							td Ткань DESCOR STAR 164
							td Черный блеск
							td 3.10 - 5.05
							td от 45.6 руб
					+price-ceilings({title:'ho-ho-ho',
													images:{
														1:'http://placehold.it/290x200',
														2:'http://placehold.it/290x200',
														3:'http://placehold.it/290x200'
														},
														h3:['заголовок1', 'заголовок2', 'заголовок 3м'],
														price:[234.3, 321.6, 534.1]
						})
					